@using Admin.EndPoint.Helper
@model Application.Returneds.Dto.GetReturnedDitalesForAdminDto
@using Application.PostalProducts.Dto
@{
    ViewData["Title"] = "جزئیات مرجوعی";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="layout-px-spacing">

    <div class="row layout-spacing">

        <!-- Content -->
        <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">

            <div class="user-profile layout-spacing">
                <div class="widget-content widget-content-area">
                    <div class="d-flex justify-content-between">
                        <h3 class="">اطلاعات مشتری</h3>
                        <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg></a>
                    </div>
                    <div class="text-center user-info">

                        <p class="">@Model.Address.ReciverName</p>
                    </div>
                    <div class="user-info-list">

                        <div class="">
                            <ul class="contacts-block list-unstyled">
                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                    @Model.userePhoneNumber <span>( کاربر سایت)</span>

                                </li>
                                <li class="contacts-block__item">
                                    <i style="font-size:15px" class="fa">&#xf155;</i>     @Model.Amount.ToString("n0") تومان(بدون هزینه پست)

                                </li>
                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                    @Model.Date.ToPersianDateStrFarsiFull()
                                </li>
                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                    @Model.Address.PostalAddress
                                </li>

                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                    @Model.Address.PhoneNumber <span>(تحویل گیرنده)</span>
                                </li>
                                @if ((int)Model.ReturnedStatus == 0)
                                {
                                    <li class="contacts-block__item">

                                        <a href="#" id="showformpostal" class="btn btn-primary">
                                            مرجوعی محصول <i style="font-size:19px; color:white" class="fab fa-codepen"></i>

                                        </a>
                                        <button type="submit" class="btn btn-primary" id="sendBtnReturnPost">
                                            ثبت و ذخیره

                                        </button>
                                    </li>
                                }

                                @if ((int)Model.ReturnedStatus == 1)
                                {
                                    <li class="contacts-block__item">

                                        <a href="#" id="showformpostal" class="btn btn-primary">
                                            بازگشت وجه مشتری <i style="font-size:19px; color:white" class="fab fa-codepen"></i>

                                        </a>
                                        <button type="submit" class="btn btn-primary" id="sendBtn">
                                            ثبت و ذخیره

                                        </button>
                                    </li>
                                }
                                @if ((int)Model.ReturnedStatus == 2)
                                {
                                    <li class="contacts-block__item">

                                        <button type="submit" class="btn btn-primary" id="ReturnedPostShop">
                                            کالا به فروشگاه مرجوع شد

                                        </button>
                                    </li>
                                }

                            </ul>
                        </div>

                    </div>

                </div>
            </div>



        </div>

        <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <table id="default-ordering" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                @if ((int)Model.ReturnedStatus == 2)
                                {
                                    <th>شماره کالا</th>
                                    <th>نام محصول</th>
                                    <th>مبلغ </th>
                                    <th> تعداد</th>
                                    <th> وضعیت مرجوعی</th>
                                }
                                else
                                {
                                    <th>شماره کالا</th>
                                    <th>نام محصول</th>
                                    <th>مبلغ </th>
                                    <th> تعداد</th>
                                }


                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.OrederItems.Any())
                            {
                                foreach (var item in Model.OrederItems)
                                {
                            <tr>


                                @if ((int)Model.ReturnedStatus == 2)
                                {
                                    <td>@item.Id</td>
                                    <td> @item.ProductName</td>
                                    <td>@item.UnitPrice.ToString("n0") تومان</td>
                                    <td>
                                        @item.Units
                                    </td>
                                    <td>

                                        <select name="ReturneOrderItemStatus" class="ReturneOrderItemStatus">
                                            <option value="1">سالم دریافت شد</option>
                                            <option value="2">محصول صده دیده دریافت شد</option>
                                            <option value="3">محصول تعویض شده دریافت شد</option>
                                            <option value="4">محصول سالم بود</option>

                                        </select>

                                    </td>
                                }
                                else
                                {
                                    <td>@item.Id</td>
                                    <td> @item.ProductName</td>
                                    <td>@item.UnitPrice.ToString("n0") تومان</td>
                                    <td>
                                        @item.Units
                                    </td>
                                }
                            </tr>
                                }
                            }
                            else
                            {

                            }

                        </tbody>
                 
                    </table>
                </div>


                @if ((int)Model.ReturnedStatus == 0)
                {
                    <div class="work-section">
                        <form asp-controller="Returnds" asp-action="ReturndPostals" method="post" id="postalform">
                            <input name="Id" type="hidden" value="@Model.postalProductDto.Id" />
                            <input name="ReturnedId" value="@Model.ReturnedId" type="hidden" />
                            <input name="PostalStatus" id="PostalStatus" value="1" type="hidden" />

                            <input id="PostalType" name="PostalType" value="0" type="hidden" />

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-">
                                            <label for="postalProductDto.PostalCompane">نام شرکت تحویل گیرنده بسته</label>
                                            <select class="form-control mb-4" id="PostalCompane" name="PostalCompane" asp-items="Html.GetEnumSelectList<PostalCompany>()">
                                                <option selected="selected" value="">لطفا انتخاب نمائید</option>
                                            </select>
                                            @*<input type="text" class="form-control mb-4" name="Title" value="@Model.postalProductDto.Title">*@
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>تاریخ تحویل  بسته با مامور پست</label>
                                        <div class="input-group">

                                            <div class="input-group-prepend">
                                                <span class="input-group-text cursor-pointer" id="date5"><i class='fas fa-calendar-alt' style='font-size:24px;color:forestgreen'></i></span>
                                            </div>
                                            <input id="InsertDate" name="InsertDate" type="hidden" />
                                            <input type="text" id="StartDateFake" value="@Model.postalProductDto.InsertDate" class="form-control" aria-label="date5" aria-describedby="date5" placeholder="زمان تحویل ... " />

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="degree3">نام کارمند تحویل گیرنده پست</label>
                                            <input type="text" class="form-control mb-4" id="degree3" name="PostOfficeName" value="@Model.postalProductDto.PostOfficeName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="degree4">شماره پیگیری ثبت شده شرکت پست</label>
                                            <input type="text" class="form-control mb-4" id="degree4" name="TrackingNumber" value="@Model.postalProductDto.TrackingNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </form>
                    </div>
                }
                @if ((int)Model.ReturnedStatus == 1)
                {
                    <div class="work-section">
                        <form asp-controller="Returnds" asp-action="ReturnPayment" method="post" id="postalform">
                            <input name="Amount" id="Amount" type="hidden" value="@Model.Amount" />
                            <input name="ReturnedId" id="ReturnedId" value="@Model.ReturnedId" type="hidden" />
                            <input name="PostalStatus" id="PostalStatus" value="1" type="hidden" />

                            <input name="PostalType" value="0" type="hidden" />

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="degree1">شماره پیگیری بانکی</label>
                                            <input type="text" class="form-control mb-4" id="degree1" name="FollowKey">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>تاریخ واریز وجه</label>
                                        <div class="input-group">

                                            <div class="input-group-prepend">
                                                <span class="input-group-text cursor-pointer" id="date4"><i class='fas fa-calendar-alt' style='font-size:24px;color:forestgreen'></i></span>
                                            </div>
                                            <input id="DatePay" name="DatePay" type="hidden" />
                                            <input type="text" id="DatePayFake" value="@Model.postalProductDto.InsertDate" class="form-control" aria-label="date4" aria-describedby="date4" placeholder="زمان واریز وجه ... " />

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="degree5">شماره بانک مبدا</label>

                                            <select class="form-control basic-single" id="degree5" name="BankOriginNumber" asp-items="(IEnumerable<SelectListItem>)@ViewData["BankOrigins"]"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="degree4">نام بانک مقصد (مشتری)</label>
                                            <input type="text" class="form-control mb-4" id="degree4" name="BankDestination">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="degree6">شماره بانک مقصد </label>
                                            <input type="text" class="form-control mb-4" id="degree6" name="BankDestinationNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </form>
                    </div>
                }
         
            </div>
        </div>

    </div>
</div>

@section Styles{
    <link href="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Theme/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/plugins/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->
    <link href="~/Theme/assets/css/users/user-profile.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Theme/plugins/jquery-step/jquery.steps.css">

}
@section Scripts{
    <script src="~/Theme/plugins/table/datatable/datatables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootprompt/bootprompt.js"></script>
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Theme/assets/css/forms/switches.css">
    <script src="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="~/Theme/plugins/jquery-step/jquery.steps.min.js"></script>
    <script src="~/Theme/plugins/jquery-step/custom-jquery.steps.js"></script>
    <script>
        $(document).ready(function () {
            $('#showformpostal').click(function (e) {
                e.preventDefault();
                $('div .table-responsive').hide();

                $('#showformpostal').hide();
                $('#sendBtn').show();
                $('#postalform').show();
                $('#sendBtnReturnPost').show();
            })

            $("#steps-basic").steps({
                cssClass: 'pill wizard'
            });
            $('#widget-circle-basic').hide();
            $('#sendBtnReturnPost').hide();
            $('#sendBtn').hide();
            $('#postalform').hide();
            //مرجوعی کالا به فروشگاه
            $("#sendBtnReturnPost").click(function (e) {
                e.preventDefault();
                console.log("click sendBtnReturnPost");
                // $("#postalform").submit();


                bootprompt.confirm({
                    title: "مرجوعی کالا",
                    message: "آیا از اطلاعات وارد شده اطمینان دارید؟؟؟",
                    buttons: {
                        cancel: {
                            label: "<i class='fa fa-times'></i> لغو",
                        },
                        confirm: {
                            label: "<i class='fa fa-check'></i> تایید",
                        },
                    },
                    callback: (result3) => {
                        if (result3 == true) {
                            var data = new FormData();

                            data.append("TrackingNumber", $("#degree4").val());
                            data.append("PostOfficeName", $("#degree3").val());
                            data.append("PostalCompane", $("#PostalCompane option:selected").val());
                            data.append("InsertDate", $("#InsertDate").val());
                            data.append("PostalStatus", $("#PostalStatus").val());

                            data.append("PostalType", $("#PostalType").val());

                            data.append("Id", @(Model.postalProductDto.Id));
                            data.append("ReturnedId", @(Model.ReturnedId));


                            console.log("data: ", data);


                            $.ajax({
                                type: "POST",
                                url: "/Returnds/ReturndPostals",
                                contentType: false,
                                processData: false,
                                data: data,
                                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                                success: function (data) {
                                    if (data.isSuccess == true) {
                                        swal.fire(
                                            'موفق!',
                                            'مرجوعی کالا با موفقیت ثبت شد',
                                            'success'
                                        ).then(function (isConfirm) {
                                            window.location.href = "/Returnds/index";
                                        });
                                    }
                                    else {
                                        swal.fire(
                                            'هشدار!',
                                            "اطلاعات کامل و درست وارد نمائید دیتا ثبت نشد",
                                            'warning'
                                        );
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                        }
                        else {
                            swal.fire(
                                'تشکر',
                                'درخواست لغو گردید',
                                'warning'
                            )

                        }
                    },
                });
            });
            //بازگشت وجه مرجوعی
            $("#sendBtn").click(function (e) {
                e.preventDefault();
                console.log("click");
                // $("#postalform").submit();


                bootprompt.confirm({
                    title: "بازگشت وجه مرجوعی",
                    message: "آیا از اطلاعات وارد شده اطمینان دارید؟؟؟",
                    buttons: {
                        cancel: {
                            label: "<i class='fa fa-times'></i> لغو",
                        },
                        confirm: {
                            label: "<i class='fa fa-check'></i> تایید",
                        },
                    },
                    callback: (result) => {
                        if (result == true) {
                            var data = new FormData();
                            var ammont = $("#Amount").val();
                            data.append("BankDestination", $("#degree4").val());
                            data.append("BankDestinationNumber", $("#degree6").val());
                            data.append("BankOriginNumber", $("#degree5 option:selected").val());
                            data.append("DatePay", $("#DatePay").val());
                            data.append("FollowKey", $("#degree1").val());

                            data.append("Amount", ammont);

                            data.append("ReturnedId", $("#ReturnedId").val());
                            data.append("PostalStatus", $("#PostalStatus").val());


                            console.log("data: ", data);
                            console.log("ammont: ", ammont);

                            $.ajax({
                                type: "POST",
                                url: "/Returnds/ReturnPayment",
                                contentType: false,
                                processData: false,
                                data: data,
                                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                                success: function (data) {
                                    if (data.isSuccess == true) {
                                        swal.fire(
                                            'موفق!',
                                            'بازگشت وجه با موفقیت ثبت شد',
                                            'success'
                                        ).then(function (isConfirm) {
                                            window.location.href = "/Returnds/index";
                                        });
                                    }
                                    else {
                                        swal.fire(
                                            'هشدار!',
                                            "اطلاعات کامل و درست وارد نمائید دیتا ثبت نشد",
                                            'warning'
                                        );
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                        }
                        else {
                            swal.fire(
                                'تشکر',
                                'درخواست لغو گردید',
                                'warning'
                            )

                        }
                    },
                });
            });
            //دریافت محصول مرجوعی محصول به فروشگاه
            $("#ReturnedPostShop").click(function (e) {
                $('#widget-circle-basic').show();
                e.preventDefault();
                console.log("click");
                // $("#postalform").submit();

                //دریافت ویژگی های محصول از جدول
                var dataFeaturesViewModel = $('#default-ordering tr:gt(0)').map(function () {
                    return {
                        Id: $(this.cells[0]).text(),
                        ReturneOrderItemStatus: $(this.cells[4]).find('option:selected').val(),
                    };
                }).get();
                var data = new FormData();
                $.each(dataFeaturesViewModel, function (i, val) {
                    data.append('OrderItemsReturnedDtos[' + i + '].Id', val.Id);
                    data.append('OrderItemsReturnedDtos[' + i + '].ReturneOrderItemStatus', val.ReturneOrderItemStatus);
                });
                console.log("dataFeaturesViewModel :", dataFeaturesViewModel);
                console.log("data 111 :", data);
                bootprompt.confirm({
                    title: "مرجوعی کالا به فروشگاه",
                    message: "آیا از انتخاب خود اطمینان دارید؟؟؟",
                    buttons: {
                        cancel: {
                            label: "<i class='fa fa-times'></i> لغو",
                        },
                        confirm: {
                            label: "<i class='fa fa-check'></i> تایید",
                        },
                    },
                    callback: (result) => {
                        if (result == true) {
                           
                             data.append("ReturnedId", @(Model.ReturnedId));
                            $.ajax({
                                type: "POST",
                                url: "/Returnds/ReturnedPostToShop",
                                contentType: false,
                                processData: false,
                                data: data,
                                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                                success: function (data) {
                                    if (data.isSuccess == true) {
                                        swal.fire(
                                            'موفق!',
                                            'تحویل کالا در فروشگاه با موفقیت ثبت شد',
                                            'success'
                                        ).then(function (isConfirm) {
                                            window.location.href = "/Returnds/index";
                                        });
                                    }
                                    else {
                                        swal.fire(
                                            'هشدار!',
                                            "اطلاعات کامل و درست وارد نمائید دیتا ثبت نشد",
                                            'warning'
                                        );
                                    }
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                }
                            });
                        }
                        else {
                            swal.fire(
                                'تشکر',
                                'درخواست لغو گردید',
                                'warning'
                            )

                        }
                    },
                });
            });
        });

        $('#default-ordering').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "صفحه _PAGE_ از _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "جستجو کنید...",
                "sLengthMenu": "تعداد نمایش نتایج در صفحه :  _MENU_",
            },
            "order": [[3, "desc"]],
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });



        $('#date5').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFake',
            targetDateSelector: '#InsertDate',
            groupId: 'date5',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true
        });
        $('#date4').MdPersianDateTimePicker({
            targetTextSelector: '#DatePayFake',
            targetDateSelector: '#DatePay',
            groupId: 'date4',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true
        });
    </script>
}

