@using Application.Payments
@model PaymentToCheckoutPageDto
@{
    ViewData["Title"] = "وضعیت خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@section Styles{
    <link rel="stylesheet" href="~/Theme/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/theme.css">
    <!-- Here goes your custom.css -->
    <link rel="stylesheet" href="~/Theme/assets/css/custom.css">
}
@section Scripts{

    <!-- Plugins JS -->
    @*<script src="~/Theme/assets/js/theme.js"></script>*@
}

<main class="page-content">
    <div class="container">
        <div class="row mb-4">
            <div class="col-xl-9 col-lg-8 col-md-8 mb-md-0 mb-3">
                <div class="checkout-section shadow-around">
                    <div class="checkout-step">
                        <ul>
                            <li class="active">
                                <a href="#"><span>سبد خرید</span></a>
                            </li>
                            <li class="active">
                                <span>نحوه ارسال و پرداخت</span>
                            </li>
                            <li class="active">
                                <span>اتمام خرید و ارسال</span>
                            </li>
                        </ul>
                    </div>
                    <div class="checkout-message">
                        @if (ViewBag.error != null && ViewBag.error != "")
                        {
                            <div class="checkout-message-failed mb-3">
                                <i class="fas fa-times style=" font-size:64px;color:red""></i>
                                <div class="icon-message failed-icon d-none">

                                    @*<i class="fa fa-close" style="font-size:29px;color:red"></i>*@
                                </div>

                                <span class="order-code">@ViewBag.error</span>
                            </div>
                        }

                        <div class="text-center text-muted">
                            <p class="mb-1">
                                برای جلوگیری از لغو سیستمی سفارش، تا ۱ ساعت آینده پرداخت را انجام دهید.
                            </p>
                            <p class="text-sm">
                                چنانچه طی این فرایند مبلغی از حساب شما کسر شده است، طی ۷۲ ساعت آینده به حساب شما
                                باز خواهد گشت.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            @if (Model != null)
            {<div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="shadow-around pt-3">
                        <div class="d-flex justify-content-between px-3 py-2">
                            <span class="text-muted">نام تحویل گیرنده:</span>
                            <span class="text-muted">
                                @Model.payAddress.ReciverName
                            </span>
                        </div>
                        <div class="d-flex justify-content-between px-3 py-2">
                            <span class="text-muted">شماره تماس :</span>
                            <span class="text-danger">
                                @Model.payAddress.PhoneNumber
                            </span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between px-3 py-2">
                            <span class="font-weight-bold">مبلغ کل:</span>
                            <span class="font-weight-bold">
                                @Model.Amount.ToString("n0")
                                <span class="text-sm">تومان</span>
                            </span>
                        </div>
                        <hr>
                        <div class="px-3 py-2">
                            <span class="text-muted d-block">آدرس :</span>
                            <span class="text-info">
                                @Html.Raw(Model.payAddress.PostalAddress)
                            </span>
                        </div>
                        <div class="px-3 py-4">
                            <div class="row">
                                <form action="/Pay/Index" method="get">
                                    <input type="hidden" name="PaymentId" value="@Model.Id" />
                                    <button type="submit"
                                            class="d-flex align-items-center justify-content-center px-3 py-2 btn btn-success">
                                        پرداخت
                                        مجدد<i class="fad fa-redo mr-3"></i>
                                    </button>
                                </form>

                            </div>


                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</main>