@using Application.BasketsService
@model BasketDto

@{
    ViewData["Title"] = "سبد محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--shopping cart area start -->
<div class="cart_page_bg">
    <div class="container">
        <div class="shopping_cart_area">
            <form action="#">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="cart_page">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product_remove">حذف</th>
                                            <th class="product_thumb">عکس</th>
                                            <th class="product_name">محصول</th>
                                            <th class="product-price">قیمت</th>
                                            <th class="product_quantity">تعداد</th>
                                            <th class="product_total">مجموع</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Items)
                                        {
                                            <tr>

                                                <td class="product_remove">

                           
                                                        <a href="#" class="item-remove-btn mr-3" onclick="RemoveItemBasket(@item.Id,event)">
                                                            <i class="fa fa-trash-o" style='font-size:37px;color:red'></i>
                                                            
                                                        </a>
                                              

                                                </td>
                                                <td class="product_thumb">

                                                    <img src="@item.ImageUrl" width="100" height="100" alt="item">

                                                </td>
                                                <td class="product_name"><a href="#">روغن موتور</a></td>
                                                <td class="product-price">
                                                    @item.UnitPrice.ToString("n0") تومان
                                                    @if (item.OldPrice!=null)
                                                    {
                                                        <span class="old_price" style=" text-decoration: line-through;color:red;">@item.OldPrice?.ToString("n0") تومان</span>
                                                    }


                                                </td>
                                                <td class="product_quantity">

                                                    <label>تعداد</label> <input min="1" max="100" onchange="SetQuantity('@item.Id')" id="quantity-@item.Id" value="@item.Quantity" type="number">

                                                </td>
                                                <td class="product_total">
                                                    @{var price = (item.UnitPrice * item.Quantity);

                                                        <text> <span>@price.ToString("n0")</span> تومان</text>
                                                    }
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                            <div class="cart_submit d-none">
                                <button type="submit">به روز رسانی سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area start-->
                <div class="coupon_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <form class="coupon_code left" method="post" asp-action="ApplyDiscount">
                                <input type="hidden" value="@Model.Id" name="BasketId" />
                                <h3>تخفیف</h3>
                                <div class="coupon_inner">
                                    <p>اگر کد تخفیف خود را دارید وارد کنید.</p>
                                    <input placeholder="کد تخفیف" type="text">
                                    <button type="submit">اعمال تخفیف</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code right">
                                <h3>مجموع سبد خرید</h3>
                                <div class="coupon_inner">
                                    <div class="cart_subtotal">
                                        <p>جمع کل</p>
                                        <p class="cart_amount">@Model.TotalWithOutDiescount().ToString("n0") تومان</p>
                                    </div>
                                    @if (Model.DiscountAmount > 0)
                                    {
                                        <div class="d-flex justify-content-between px-3 py-2">
                                            <span class="text-muted">تخفیف کالاها</span>
                                            <span class="text-danger">
                                                @Model.DiscountAmount.ToString("n0")
                                                <span class="text-sm">تومان</span>
                                            </span>
                                        </div>
                                        <div class="d-flex justify-content-between px-3 py-2">
                                            <a asp-action="RemoveDiscount" asp-route-id="@Model.Id" class="text-danger">
                                                <i class="fa fa-closed-captioning"></i>
                                                حذف تخفیف
                                            </a>
                                        </div>
                                    }
                                    <div class="cart_subtotal ">
                                        <p>هزینه ارسال</p>
                                        <p class="cart_amount"><span> نرخ ثابت:</span> 60.000 تومان</p>
                                    </div>
                                    <a href="#">محاسبه حمل و نقل</a>

                                    <div class="cart_subtotal">
                                        <p>جمع کل</p>
                                        <p class="cart_amount"> @Model.Total().ToString("n0") تومان</p>
                                    </div>
                                    <div class="checkout_btn">
                                        <a asp-action="ShippingPayment" class="btn btn-danger btn-block py-2">ادامه فرایند خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area end-->
            </form>
        </div>
    </div>
</div>
<!--shopping cart area end -->










@*<div class="container">
    <div class="row mb-4">
        <div class="col-xl-9 col-lg-8 col-md-8 mb-md-0 mb-3">
            <div class="checkout-section shadow-around">

                @if (TempData["InvalidMessage"] != null)
                {
                    <div class="alert alert-warning">
                        <b> @TempData["InvalidMessage"]  </b><br />
                    </div>
                }

                <div class="checkout-step">
                    <ul>
                        <li class="active"><span>سبد خرید</span></li>
                        <li>
                            <span>نحوه ارسال و پرداخت</span>
                        </li>
                        <li>
                            <span>اتمام خرید و ارسال</span>
                        </li>
                    </ul>
                </div>
                <div class="checkout-section-content">
                    <div class="cart-items">

                        @foreach (var item in Model.Items)
                        {
                            <div class="cart-item py-4 px-3">
                                <div class="item-thumbnail">
                                    <a href="#">
                                        <img src="@item.ImageUrl" alt="item">
                                    </a>
                                </div>
                                <div class="item-info flex-grow-1">
                                    <div class="item-title">
                                        <h2>
                                            <a href="#">
                                                @item.CatalogName
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="item-detail">
                                        <ul>

                                            <li>
                                                <i class="far fa-shield-check text-muted"></i>
                                                <span>گارانتی ۱۸ ماهه</span>
                                            </li>
                                            <li>
                                                <i class="far fa-store-alt text-muted"></i>
                                                <span></span>
                                            </li>
                                            <li>
                                                <i class="far fa-clipboard-check text-primary"></i>
                                                <span>موجود در انبار</span>
                                            </li>
                                        </ul>
                                        <div class="item-quantity--item-price">
                                            <div class="item-quantity">
                                                <div class="num-block">
                                                    <div class="num-in">
                                                        <span class="plus"></span>
                                                        <input type="text" class="in-num" onchange="SetQuantity('@item.Id')" id="quantity-@item.Id" value="@item.Quantity" readonly="">
                                                        <span class="minus dis"></span>
                                                    </div>
                                                </div>
                                                <form method="post" asp-action="RemoveItemFromBasket">
                                                    <input name="ItemId" type="hidden" value="@item.Id" />

                                                    <button type="submit" class="item-remove-btn mr-3">
                                                        <i class="far fa-trash-alt"></i>
                                                        حذف
                                                    </button>
                                                </form>
                                            </div>
                                            <div class="item-price">
                                                @{var price = (item.UnitPrice * item.Quantity);

                                                    <text> <p>@price.ToString("n0")</p></text>
                                                }
                                                <span class="text-sm mr-1">تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4">
            <div class="shadow-around pt-3">
                <div class="d-flex justify-content-between px-3 py-2">
                    <span class="text-muted">قیمت کالاها (@Model.Items.Count)</span>
                    <span class="text-muted">
                        @Model.TotalWithOutDiescount().ToString("n0")
                        <span class="text-sm">تومان</span>
                    </span>
                </div>
                @if (Model.DiscountAmount > 0)
                {
                    <div class="d-flex justify-content-between px-3 py-2">
                        <span class="text-muted">تخفیف کالاها</span>
                        <span class="text-danger">
                            @Model.DiscountAmount.ToString("n0")
                            <span class="text-sm">تومان</span>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between px-3 py-2">
                        <a asp-action="RemoveDiscount" asp-route-id="@Model.Id" class="text-danger">
                            <i class="fa fa-closed-captioning"></i>
                            حذف تخفیف
                        </a>
                    </div>
                }
                <hr>
                <div class="d-flex justify-content-between px-3 py-2">
                    <span class="font-weight-bold">جمع</span>
                    <span class="font-weight-bold">
                        @Model.Total().ToString("n0")
                        <span class="text-sm">تومان</span>
                    </span>
                </div>
                <hr>
                <div class="d-flex justify-content-between px-3 py-2">
                    <span class="font-weight-bold">مبلغ قابل پرداخت</span>
                    <span class="font-weight-bold">
                        @Model.Total().ToString("n0")
                        <span class="text-sm">تومان</span>
                    </span>
                </div>
                <div class="d-flex px-3 py-4">
                    <a asp-action="ShippingPayment" class="btn btn-danger btn-block py-2">ادامه فرایند خرید</a>
                </div>

                <form method="post" asp-action="ApplyDiscount">
                    <input type="hidden" value="@Model.Id" name="BasketId" />
                    <hr />
                    <div class="d-flex justify-content-between px-3 py-2">
                        <p class="small">آیا کد تخفیف دارید؟</p>
                    </div>
                    <div class="d-flex justify-content-between px-3 py-2">

                        <span class="font-weight-bold">کد </span>
                        <span class="font-weight-bold">

                            <input type="text" name="CouponCode" class="form-control" />
                        </span>
                    </div>
                    <div class="d-flex px-3 py-4">
                        <button class="btn btn-block py-2">ثبت کد تخفیف</button>
                    </div>
                </form>

            </div>


        </div>
    </div>
</div>*@

@section Scripts
{
    <script>
        function SetQuantity(itemId) {
            var quantity = $("#quantity-" + itemId).val();
            $.ajax({
                type: "POST",
                url: "/basket/setquantity?basketItemId=" + itemId + "&&quantity=" + quantity,
                success: function () {
                    location.reload();
                }
            })
        }
        function RemoveItemBasket(itemId) {
         
            $.ajax({
                type: "POST",
                url: "/basket/RemoveItemFromBasket?ItemId=" + itemId ,
                success: function () {
                    location.reload();
                }
            })
        }
    </script>
}