@using Admin.EndPoint.Helper
@model Application.Orders.Dto.OderDitalesForAdminDto
@using Application.PostalProducts.Dto
@{
    Layout = null;
    var counterRow = 1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title> فروشگاه لوزام یدکی زنجانی - فاکتورها </title>
    <link rel="icon" type="image/x-icon" href="~/Theme/assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/Theme/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="~/Theme/assets/css/apps/invoice.css" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->

</head>
<body class="alt-menu sidebar-noneoverflow">

    <!--  BEGIN NAVBAR  -->
  
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container sidebar-closed sbar-open" id="container">

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content" @*style="margin-top: 0px!important;"*@>
            <div class="layout-px-spacing">
                <div class="row invoice layout-top-spacing">
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
                        <div class="app-hamburger-container">
                            <div class="hamburger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu chat-menu d-xl-none"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></div>
                        </div>
                        <div class="doc-container">


                            <div class="invoice-container">
                                <div class="invoice-inbox">



                                    <div class="invoice-header-section" style="display:block;">
                                        <h4 class="inv-number"> </h4>
                                        <div class="invoice-action">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer action-print" data-toggle="tooltip" data-placement="top" data-original-title="پرینت"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>
                                        </div>
                                    </div>

                                    <div id="ct" class="" style="display:block;">

                                        <div class="invoice-00001">
                                            <div class="content-section active">

                                                <div class="row inv--head-section">

                                                    <div class="col-sm-6 col-12">
                                                        <h3 class="in-heading">فاکتور</h3>
                                                    </div>
                                                    <div class="col-sm-6 col-12 align-self-center text-sm-right">
                                                        <div class="company-info">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-hexagon"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path></svg>
                                                            <h5 class="inv-brand-name">ZanjaniShop</h5>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row inv--detail-section">

                                                    <div class="col-sm-12 align-self-center  text-sm-left order-sm-0 order-1">
                                                        <p class="inv-detail-title">از  : فروشگاه لوازم یدکی خودرو زنجانی </p>
                                                    </div>


                                                    <div class="col-sm-7 align-self-center">
                                                        <p class="inv-customer-name">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-minus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                                                            @Model.userePhoneNumber <span>( کاربر سایت: @Model.usereFullname)</span>

                                                        </p>
                                                        <p class="inv-street-addr">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                                            @Model.Address.PostalAddress
                                                        </p>
                                                        <p class="inv-email-address">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                                            @Model.Address.PhoneNumber <span>(تحویل گیرنده: @Model.Address.ReciverName)</span>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-5 align-self-center  text-sm-right order-2">
                                                        <p class="inv-list-number"><span class="inv-title">شماره پیگیری فاکتور:</span> <span class="inv-number">@Model.FollowKey</span></p>
                                                        <p class="inv-created-date"><span class="inv-title">تاریخ فاکتور:</span> <span class="inv-date">@DateTime.Now.ToPersianDateStrFarsiFull()</span></p>
                                                        <p class="inv-due-date"><span class="inv-title">تاریخ خرید:</span> <span class="inv-date">@Model.Date.ToPersianDateStrFarsiFull()</span></p>
                                                    </div>
                                                </div>

                                                <div class="row inv--product-table-section">
                                                    <div class="col-12">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead class="">
                                                                    <tr>
                                                                        <th scope="col">ردیف</th>
                                                                        <th scope="col">نام محصول</th>
                                                                        <th class="text-right" scope="col">تعداد</th>
                                                                        <th class="text-right" scope="col">قیمت واحد</th>
                                                                        <th class="text-right" scope="col">قیمت کل</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.OrederItems)
                                                                    {
                                                                        <tr>
                                                                            <td>@counterRow</td>
                                                                            <td> @item.ProductName</td>
                                                                            <td class="text-right">@item.Units</td>
                                                                            <td class="text-right">@item.UnitPrice.ToString("n0") تومان</td>
                                                                            <td class="text-right">
                                                                                @{
                                                                                    var sumPrice = item.UnitPrice * item.Units;
                                                                                    <span>@sumPrice.ToString("n0") تومان</span>
                                                                                }
                                                                            </td>
                                                                            @(counterRow++)
                                                                        </tr>
                                                                    }


                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-5 col-12 order-sm-0 order-1">
                                                        <div class="inv--payment-info">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-12">
                                                                    <h6 class=" inv-title">اطلاعات پرداخت</h6>
                                                                </div>
                                                                <div class="col-sm-4 col-12">
                                                                    <p class=" inv-subtitle">نام بانک : </p>
                                                                </div>
                                                                <div class="col-sm-8 col-12">
                                                                    <p class="">*****************  </p>
                                                                </div>
                                                                <div class="col-sm-4 col-12">
                                                                    <p class=" inv-subtitle">شماره حساب : </p>
                                                                </div>
                                                                <div class="col-sm-8 col-12">
                                                                    <p class="">*****************</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7 col-12 order-sm-1 order-0">
                                                        <div class="inv--total-amounts text-sm-right">
                                                            <div class="row">
                                                                <div class="col-sm-8 col-7">
                                                                    <p class="">جمع محصولات: </p>
                                                                </div>
                                                                <div class="col-sm-4 col-5">
                                                                    <p class=""> @Model.OrederItems.Sum(p => p.UnitPrice * p.Units).ToString("n0") تومان</p>
                                                                </div>

                                                                <div class="col-sm-8 col-7">
                                                                    <p class="">مالیات: </p>
                                                                </div>
                                                                <div class="col-sm-4 col-5">
                                                                    <p class="">0 تومان</p>
                                                                </div>
                                                                <div class="col-sm-8 col-7">
                                                                    <p class=" discount-rate">هزینه پست : </p>
                                                                </div>
                                                                <div class="col-sm-4 col-5">
                                                                    <p class="">
                                                                        @{
                                                                            var postMony = Model.Amount - (Model.OrederItems.Sum(p => p.UnitPrice * p.Units));
                                                                            <span>@postMony.ToString("n0") تومان</span>
                                                                        }
                                                                    </p>
                                                                </div>
                                                                <div class="col-sm-8 col-7">
                                                                    <p class="">جمع کل: </p>
                                                                </div>
                                                                <div class="col-sm-4 col-5">
                                                                    <p class=""> @Model.Amount.ToString("n0") تومان</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>


                                </div>

                                <div class="inv--thankYou">
                                    <div class="row">
                                        <div class="col-sm-12 col-12">
                                            <p class="">ممنون از اینکه با ما کار کردید</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class=""> © کپی رایت</p>
                </div>
                <div class="footer-section f-section-2">
                    <span class="copyright">کلیه حقوق این سایت متعلق به  : <a href="#"> فروشگاه لوازم یدکی زنجانی </a>  می باشد</span>
                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->


    </div>
    <!-- END MAIN CONTAINER -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Theme/assets/js/libs/jquery.js"></script>
    <script src="~/Theme/bootstrap/js/popper.min.js"></script>
    <script src="~/Theme/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Theme/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Theme/assets/js/app.js"></script>

    <script>
                    //$(document).ready(function () {
                    //    App.init();
                    //});
    </script>
    <script src="~/Theme/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/Theme/assets/js/apps/invoice.js"></script>
</body>
</html>
