@using Admin.EndPoint.Helper
@model Application.Orders.Dto.OderDitalesForAdminDto
@using Application.PostalProducts.Dto
@{
    ViewData["Title"] = "جزئیات سفارش";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="layout-px-spacing">

    <div class="row layout-spacing">

        <!-- Content -->
        <div class="col-xl-4 col-lg-6 col-md-5 col-sm-12 layout-top-spacing">
            @if (Model.postalProductDto != null && Model.postalProductDto.Id > 0)
            {
                <div class=" alert alert-success">
                    محصول در تاریخ
                    <span>@Model.postalProductDto.InsertDate.ToPersianDateStrFarsi()</span>
                    توسط شرکت
                    @{
                        var ReturnedPostOffice = "";
                        switch ((int)Model.postalProductDto.PostalCompane)
                        {
                            case 1:
                                ReturnedPostOffice = "الوپیک";
                                break;
                            case 2:
                                ReturnedPostOffice = "تیپاکس";
                                break;
                            case 3:
                                ReturnedPostOffice = "پست ایران";

                                break;

                            case 4:
                                ReturnedPostOffice = "اسنپ باکس";

                                break;
                            case 5:
                                ReturnedPostOffice = "اسنپ بار";

                                break;
                        }
                        <span>@ReturnedPostOffice</span>
                    }
                    باشماره پیگیری
                    <span>@Model.postalProductDto.TrackingNumber</span>
                    ارسال شده است
                </div>
            }
            <div class="user-profile layout-spacing">
                <div class="widget-content widget-content-area">
                    <div class="d-flex justify-content-between">
                        <h3 class="">اطلاعات مشتری</h3>
                        <a href="/Orders/InvoiceOrder/@Model.PaymentId">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer action-print" data-toggle="tooltip" data-placement="top" data-original-title="پرینت"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg>
                        </a>
                    </div>
                    <div class="text-center user-info">

                        <p class="">@Model.Address.ReciverName</p>
                    </div>
                    <div class="user-info-list">

                        <div class="">
                            <ul class="contacts-block list-unstyled">
                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                    @Model.userePhoneNumber <span>( کاربر سایت)</span>

                                </li>
                                <li class="contacts-block__item">
                                    <i style="font-size:15px" class="fa">&#xf155;</i>
                                    @Model.Amount.ToString("n0") تومان(با هزینه پست)

                                </li>
                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                    @Model.Date.ToPersianDateStrFarsiFull()
                                </li>
                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                                    @Model.Address.PostalAddress
                                </li>

                                <li class="contacts-block__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                                    @Model.Address.PhoneNumber <span>(تحویل گیرنده)</span>
                                </li>
                                @if (Model.IsEnableSend)
                                {
                                    <li class="contacts-block__item">

                                        <a href="#" id="showformpostal" class="btn btn-primary">
                                            ارسال محصول <i style="font-size:19px; color:white" class="fab fa-codepen"></i>

                                        </a>
                                        <button type="submit" class="btn btn-primary" id="sendBtn">
                                            ثبت و ذخیره

                                        </button>
                                    </li>
                                }

                                @if ((int)Model.OrderStatus == 2)
                                {
                                    <li class="contacts-block__item">

                                        <button type="submit" class="btn btn-primary" id="RecivedPost">
                                            تحویل مشتری گردید

                                        </button>
                                    </li>
                                }

                            </ul>
                        </div>

                    </div>

                </div>
            </div>



        </div>

        <div class="col-xl-8 col-lg-6 col-md-7 col-sm-12 layout-top-spacing">
            <div class="widget-content widget-content-area br-6">
                <div class="table-responsive mb-4 mt-4">
                    <table id="default-ordering" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>شماره کالا</th>
                                <th>نام محصول</th>
                                <th>مبلغ </th>
                                <th> تعداد</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model != null && Model.OrederItems.Any())
                            {
                                foreach (var item in Model.OrederItems)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td> @item.ProductName</td>
                                        <td>@item.UnitPrice.ToString("n0") تومان</td>
                                        <td>
                                            @item.Units
                                        </td>


                                    </tr>
                                }
                            }
                            else
                            {

                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>شماره سفارش</th>
                                <th>نام محصول</th>
                                <th>مبلغ </th>
                                <th> تعداد</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>



                <div class="work-section">
                    <form asp-controller="Orders" asp-action="OrderPostals" method="post" id="postalform">
                        <input name="Id" type="hidden" value="@Model.postalProductDto.Id" />
                        <input name="usereFullname" type="hidden" value="@Model.usereFullname" />
                        <input name="userePhoneNumber" type="hidden" value="@Model.userePhoneNumber" />
                        <input name="OrderId" value="@Model.OrderId" type="hidden" />
                        <input name="PostalStatus" value="1" type="hidden" />
                        @if ((int)Model.OrderStatus == 4)
                        {
                            <input name="PostalType" value="0" type="hidden" />
                        }
                        @if ((int)Model.OrderStatus == 0)
                        {
                            <input name="PostalType" value="1" type="hidden" />
                        }
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-">
                                        <label for="postalProductDto.PostalCompane">نام شرکت تحویل گیرنده بسته</label>
                                        <select class="form-control mb-4" name="PostalCompane" asp-items="Html.GetEnumSelectList<PostalCompany>()">
                                            <option selected="selected" value="">لطفا انتخاب نمائید</option>
                                        </select>
                                        @*<input type="text" class="form-control mb-4" name="Title" value="@Model.postalProductDto.Title">*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>تاریخ تحویل  بسته با مامور پست</label>
                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                            <span class="input-group-text cursor-pointer" id="date5"><i class='fas fa-calendar-alt' style='font-size:24px;color:forestgreen'></i></span>
                                        </div>
                                        <input id="InsertDate" name="InsertDate" type="hidden" />
                                        <input type="text" id="StartDateFake" value="@Model.postalProductDto.InsertDate" class="form-control" aria-label="date5" aria-describedby="date5" placeholder="زمان تحویل ... " />

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="degree3">نام کارمند تحویل گیرنده پست</label>
                                        <input type="text" class="form-control mb-4" id="degree3" name="PostOfficeName" value="@Model.postalProductDto.PostOfficeName">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="degree4">شماره پیگیری ثبت شده شرکت پست</label>
                                        <input type="text" class="form-control mb-4" id="degree4" name="TrackingNumber" value="@Model.postalProductDto.TrackingNumber">
                                    </div>
                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

@section Styles{
    <link href="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Theme/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/Theme/plugins/table/datatable/dt-global_style.css">
    <!-- END PAGE LEVEL STYLES -->
    <link href="~/Theme/assets/css/users/user-profile.css" rel="stylesheet" type="text/css">
}
@section Scripts{
    <script src="~/Theme/plugins/table/datatable/datatables.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootprompt/bootprompt.js"></script>
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/MD_BootstrapPersianDateTimePicker-master-bs5/dist/jquery.md.bootstrap.datetimepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('#showformpostal').click(function (e) {
                e.preventDefault();
                $('div .table-responsive').hide();

                $('#showformpostal').hide();
                $('#sendBtn').show();
                $('#postalform').show();
            })
            $('#sendBtn').hide();
            $('#postalform').hide();
            $("#sendBtn").click(function (e) {
                e.preventDefault();
                console.log("click");
                $("#postalform").submit(); // Submit the form
            });
        });

        $('#default-ordering').DataTable({
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "صفحه _PAGE_ از _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "جستجو کنید...",
                "sLengthMenu": "تعداد نمایش نتایج در صفحه :  _MENU_",
            },
            "order": [[3, "desc"]],
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered mb-5'); }
        });

                    //دریافت محصول
        $("#RecivedPost").click(function (e) {

                e.preventDefault();
                console.log("click");
                // $("#postalform").submit();

                bootprompt.confirm({
                    title: "تحویل کالا به مشتری",
                    message: "آیا از انتخاب خود اطمینان دارید؟؟؟",
                    buttons: {
                        cancel: {
                            label: "<i class='fa fa-times'></i> لغو",
                        },
                        confirm: {
                            label: "<i class='fa fa-check'></i> تایید",
                        },
                    },
                    callback: (result) => {
                        if (result == true) {

                            console.log("callback true");
                            $.ajax({
                                url: "/Orders/DeliveredProductToCustomer",
                                data: {OrderId:@(Model.OrderId)},
                                type: "get",
                                success: function (resulttt) {
                                   // if (data.isSuccess == true) {
                                    console.log("data isSuccess :", resulttt.isSuccess);
                                        swal.fire(
                                            'موفق!',
                                            'تحویل کالا با موفقیت ثبت شد',
                                            'success'
                                        ).then(function (isConfirm) {
                                            window.location.href = "/Orders/index";
                                        });
                                    //}
                                    //else {
                                    //    swal.fire(
                                    //        'هشدار!',
                                    //        "اطلاعات کامل و درست وارد نمائید دیتا ثبت نشد",
                                    //        'warning'
                                    //    );
                                    //}
                                },
                                error: function (xhr, ajaxOptions, thrownError) {

                                }
                            });
                        }
                        else {
                            swal.fire(
                                'تشکر',
                                'درخواست لغو گردید',
                                'warning'
                            )

                        }
                    },
                });
            });

        $('#date5').MdPersianDateTimePicker({
            targetTextSelector: '#StartDateFake',
            targetDateSelector: '#InsertDate',
            groupId: 'date5',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true
        });
    </script>
}