
@using Application.Discounts.Dto
@using Domain.Discounts
@model GetDescountsForEditViewModel
@{
    ViewData["Title"] = " ویرایش تخفیف ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}




<div class="col-lg-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">

                <h4 class="col-xl-12 col-md-12 col-sm-12 col-12 btn btn-success">    ویرایش تخفیف    </h4>

            </div>
        </div>
        <div class="widget-content widget-content-area">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id"/>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group  col-md-12">
                            <label asp-for="StartDate"> </label>
                            <input asp-for="StartDate" type="hidden" />
                            <input type="text" class="form-control" id="StartDateFake">
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="EndDate"> </label>
                            <input asp-for="EndDate" type="hidden" />
                            <input type="text" class="form-control" id="EndDateFake">
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="form-group  col-md-4">
                                <label asp-for="Name"> </label>
                                <input type="text" class="form-control" asp-for="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="RequiresCouponCode"> </label>
                                <input type="checkbox" class="form-control" asp-for="RequiresCouponCode">
                                <span asp-validation-for="RequiresCouponCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="CouponCode"> </label>
                                <input type="text" class="form-control" asp-for="CouponCode">
                                <span asp-validation-for="CouponCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="UsePercentage"> </label>
                                <input class="form-control" asp-for="UsePercentage">
                                <span asp-validation-for="UsePercentage" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="DiscountPercentage"> </label>
                                <input type="text" class="form-control" asp-for="DiscountPercentage">
                                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="DiscountAmount"> </label>
                                <input type="number" class="form-control" asp-for="DiscountAmount">
                                <span asp-validation-for="DiscountAmount" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <fieldset class="form-group">
                            <label for="basicInput"> اهمیت قرار گیری در صفحه</label>
                            <select type="number" asp-for="Importance" class="form-control">
                                <option value="1">عادی</option>
                                <option value="2">صفحه اصلی</option>
                                <option value="3">ویژه</option>
                            </select>
                            <span asp-validation-for="Importance" class="text-danger"></span>

                        </fieldset>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="form-group  col-md-4">
                                <label asp-for="DiscountTypeId"> </label>
                                <select asp-for="DiscountTypeId" class="form-control">
                                    <option value="0" selected>بر اساس محصول</option>
                                </select>
                                <span asp-validation-for="DiscountTypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label asp-for="DiscountLimitationId"> </label>
                                <select asp-for="DiscountLimitationId" class="form-control" asp-items="@Html.GetEnumSelectList<DiscountLimitationType>()"></select>

                                <span asp-validation-for="DiscountLimitationId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label asp-for="LimitationTimes"> </label>
                                <input type="text" class="form-control" value="0" asp-for="LimitationTimes">
                                <span asp-validation-for="LimitationTimes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6" id="searchProductBox">
                        <div class="row">
                            <div class="form-group  col-md-12 fa-directions">
                                <label> محصولات را انتخاب کنید</label>
                                <select class="form-control basic-single" asp-for="appliedToCatalogItem">
                                </select>
                            </div>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> خودرو </label>
                                    <select class="form-control basic-single" id="Cars" asp-items="(SelectList)@ViewData["Cars2"]">
                                        <option value="0">بدون انتخاب</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> برند </label>
                                    <select class="form-control basic-single" id="Brand" asp-items="(SelectList)@ViewData["Brands2"]">
                                        <option value="0">بدون انتخاب</option>
                                    </select>
                                </fieldset>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput">دسته بندی </label>

                                    <select class="form-control basic-single" id="Category" asp-items="(SelectList)@ViewData["Categories2"]">
                                        <option value="0">بدون انتخاب</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-sm-8 my-1">
                                <label class="sr-only" for="searchproductinput"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><span><i class='fas fa-search' style='font-size:24px;color:red;'></i></span> </div>
                                    </div>
                                    <input type="text" class="form-control" id="searchproductinput" placeholder="جستجو محصول">
                                </div>
                            </div>

                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-primary" id="btnsearchproduct">جستجو</button>
                            </div>
                        </div>

                    </div>






                </div>
                <input type="submit" name="time" value="ثبت" class="btn btn-primary">
                <a asp-action="index" asp-controller="Discount" class="btn btn-info">برگشت به لیست</a>

            </form>





        </div>
    </div>
</div>

@if (Model.catalogItems.Any())
{
    <div class="widget-content searchable-container list">

        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
                <form class="form-inline my-2 my-lg-0">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                        <input type="text" class="form-control product-search" id="input-search" placeholder="جستجو محصول...">
                    </div>
                </form>
            </div>

            <div class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-right text-center layout-spacing align-self-center">
                <div class="d-flex justify-content-sm-end justify-content-center">
                    @*<svg id="btn-add-contact" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>*@

                    <div class="switch align-self-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list view-list active-view"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid view-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                    </div>
                </div>

              
            </div>
        </div>

        <div class="searchable-items list">
            <div class="items items-header-section">
                <div class="item-content">
                    <div class="user-location">
                    
                        <h4 style="margin-left: 0;">ردیف</h4>
                    </div>
                    <div class="user-location">
                        <h4 style="margin-left: 0;">عنوان</h4>

                    </div>
                    <div class="user-email">
                        <h4>نوع خودرو</h4>
                    </div>
                    <div class="user-location">
                        <h4 style="margin-left: 0;">برند</h4>
                    </div>
                    <div class="user-phone">
                        <h4 style="margin-left: 3px;">قیمت</h4>
                    </div>
                    <div class="action-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2  delete-multiple"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                    </div>
                </div>
            </div>

           @foreach (var item in Model.catalogItems)
           {
        <div class="items">
            <div class="item-content">
        
                <div class="user-location">
                    <p class="info-title">ردیف: </p>
                    <p class="usr-location" data-location="">  @counter</p>
                </div>
                <div class="user-location">
                    <p class="info-title">عنوان: </p>
                    <p class="usr-location" data-location="">@item.Name</p>
                </div>
                <div class="user-location">
                    <p class="info-title">نوع خودرو: </p>
                    <p class="usr-location" data-location="">@item.CarName</p>
                </div>
                <div class="user-location">
                    <p class="info-title">برند: </p>
                    <p class="usr-location" data-location="">@item.BrandName</p>
                </div>
                <div class="user-location">
                    <p class="info-title">قیمت: </p>
                    <p class="usr-location" data-location="">@item.Price.ToString("n0")</p>
                </div>
                <div class="action-btn" data-itemId="@item.Id" data-discountId="@Model.Id">
                    @*<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 edit"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>*@

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-minus delete deletedCataloge"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                </div>
            </div>
            @{counter++;}
        </div>
          
        }
        </div>

    </div>


 




}

@section Styles{

    <link href="~/Theme/assets/css/apps/contacts.css" rel="stylesheet" />
    <link href="~/MdPersianDateTimePicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    @*<link href="~/lib/select2/css/select2-bootstrap4.css" rel="stylesheet" />*@
    <link href="~/Theme/assets/css/forms/theme-checkbox-radio.css" rel="stylesheet" />
    <link href="~/Theme/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/MdPersianDateTimePicker/jquery.md.bootstrap.datetimepicker.js"></script>
    <script src="~/Theme/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Theme/assets/js/apps/contact.js"></script>
    <script>
        $('.basic-single').select2({
            placeholder: '... انتخاب کنید'
        });
        $('#StartDateFake').MdPersianDateTimePicker({

            targetTextSelector: '#StartDateFake',
            targetDateSelector: '#StartDate',
            groupId: 'rangeSelector1',
            placement: 'top',
            dateFormat: 'yyyy-MM-dd HH:mm:ss',
            textFormat: 'yyyy-MM-dd HH:mm:ss',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true
        });

        $('#EndDateFake').MdPersianDateTimePicker({
            targetTextSelector: '#EndDateFake',
            targetDateSelector: '#EndDate',
            groupId: 'rangeSelector1',
            placement: 'top',
            dateFormat: 'yyyy-MM-dd HH:mm:ss',
            textFormat: 'yyyy-MM-dd HH:mm:ss',
            fromDate: true,
            enableTimePicker: true,
            modalMode: true

        });
      //  $("#DiscountPercentage").parent().hide();//model_UsePercentage
      //  $("#CouponCode").parent().hide();
        $('#RequiresCouponCode').click(function () {
            if (this.checked) {
                $("#CouponCode").parent().show();
                $("#searchProductBox").hide();
            } else {
                $("#CouponCode").parent().hide();
                $("#searchProductBox").show();
            }
        });
        $('#UsePercentage').click(function () {
            $("#DiscountAmount").attr("value", "0");
            console.log("value : ", $("#DiscountAmount").val());

            if (this.checked) {
                $("#DiscountAmount").parent().hide();
                $("#DiscountAmount").attr("value", "0");
                $("#DiscountPercentage").parent().show();
            } else {
                $("#DiscountAmount").parent().show();
                $("#DiscountPercentage").parent().hide();
            }
        });

    </script>

    <script>
        $("#model_appliedToCatalogItem").select2({
            placeholder: "انتخاب کنید",
            allowClear: true,
            multiple: true,
            tags: true,
            tokenSeparators: [',', ' '],
            theme: "bootstrap4",

        });


        $('#btnsearchproduct').click(function (e) {
            e.preventDefault();
            var term = "";
            term = $('#searchproductinput').val();
            var categoryId = $('#Category').find('option:selected').val();
            var brandId = $('#Brand').find('option:selected').val();
            var carId = $('#Cars').find('option:selected').val();
            console.log(term + "/" + categoryId + "/" + brandId + "/" + carId + "/");

            $.ajax({
                type: 'GET',
                data: { term: term, categoryId: categoryId, brandId: brandId, carId: carId },
                url: "/api/DiscountApi/SearchCatalogItem",
                success: function (result) {
                    $('#appliedToCatalogItem').find('option').not(':selected').remove();
                    var resultsmap = $.map(result, function (item) {
                        return {
                            id: item.id,
                            text: item.name
                        };


                    });
                    $.each(resultsmap, function (i, currProgram) {
                        $('#appliedToCatalogItem')
                            .append($("<option></option>")
                                .attr("value", currProgram.id)
                                .text(currProgram.text));
                    });


                }
            });
        });



        $('.deletedCataloge').click(function (e) {
            e.preventDefault();
            console.log($(this).parent());
            var catalogItemId = $(this).parent().attr("data-itemId");
            var diccountId = $(this).parent().attr("data-discountId");
            console.log(catalogItemId + "/" + diccountId);
            $.ajax({
                type: 'GET',
                data: { catalogItemId: catalogItemId, diccountId: diccountId},
                url: "/api/DiscountApi/DeletedDiscountItem",
                success: function (result) {

                    console.log(result);
                }
            });
        }
        );
    </script>

}



