@model Application.Catalogs.CatalohItems.AddNewCatalogItem.AddNewCatalogItemDto

@{
    ViewData["Title"] = "ویرایش محصول";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="card">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title mb-0">  ویرایش محصول</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form id="createForm" class="form" asp-antiforgery="true" enctype="multipart/form-data" onsubmit="return sendDataToServer(event)">

                        <input type="hidden" asp-for="@Model.Id" id="Id">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput">نام محصول </label>
                                    <input type="text" asp-for="@Model.Name" class="form-control" id="Name">
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-sm-12 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> تعداد موجودی</label>
                                    <input type="number" asp-for="@Model.AvailableStock" class="form-control" id="AvailableStock">
                                    <span asp-validation-for="@Model.AvailableStock" class="text-danger"></span>

                                </fieldset>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-sm-12 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput">حداقل برای سفارش مجدد</label>
                                    <input type="number" asp-for="@Model.RestockThreshold" class="form-control" id="RestockThreshold">
                                    <span asp-validation-for="@Model.RestockThreshold" class="text-danger"></span>

                                </fieldset>
                            </div>

                            <div class="col-xl-2 col-lg-2 col-sm-12 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput">حداکثر توان ذخیره در انبار</label>
                                    <input type="number" asp-for="@Model.MaxStockThreshold" class="form-control" id="MaxStockThreshold">
                                    <span asp-validation-for="@Model.MaxStockThreshold" class="text-danger"></span>
                                </fieldset>
                            </div>

                        </div>
                        <hr />
                        <div class="row">



                            <div class="col-xl-3 col-lg-6 col-md-3 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> کمپانی </label>
                                    <select class="form-control basic-single" id="Company" asp-for="@Model.CatalogCompanyId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Companes"]"></select>
                                </fieldset>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-3 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> خودرو </label>
                                    <select class="form-control basic-single" id="Car" asp-for="@Model.CatologCarId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Cars"]"></select>
                                </fieldset>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-3 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> برند </label>
                                    <select class="form-control basic-single" id="Brand" asp-for="@Model.CatalogBrandId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Brands"]"></select>
                                </fieldset>
                            </div>

                            <div class="col-xl-3 col-lg-6 col-md-3 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput">دسته بندی </label>

                                    <select class="form-control basic-single" id="Category" asp-for="@Model.CatalogTypeId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Categories"] "></select>
                                </fieldset>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-sm-12 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> قیمت</label>
                                    <input type="number" asp-for="@Model.Price" class="form-control" id="Price">
                                    <span asp-validation-for="@Model.Price" class="text-danger"></span>

                                </fieldset>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-sm-12 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput">تصاویر </label>
                                    <input type="file" multiple class="form-control" accept="image/*" id="Images">
                                </fieldset>
                            </div>
                        </div>
                        <hr />
                        <div class="card-body col-md-12">
                            <fieldset class="form-group">
                                <label for="basicInput"> عکس ها </label>
                                <div class="note-container note-grid">
                                    @if (Model.Images.Count > 0)
                                    {
                                        foreach (var item in Model.Images)
                                        {
                                            <div class="note-item all-notes note-personal">
                                                <div class="note-inner-content">
                                                    <div class="note-content">
                                                        <div class="note-description-content">
                                                            <img src="@item.Src" width="275" height="155" />
                                                        </div>
                                                    </div>

                                                    <div class="note-action removeImageProdact">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 delete-note"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                    </div>

                                                </div>
                                            </div>
                                        }
                                    }




                                </div>
                                </fieldset>
                        </div>
                        <hr />
                        <div class="card col-md-12">
                            <div class="card-header col-md-12 row">
                                <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> نام گروه </label>
                                        <input type="text" class="form-control" id="txtGroup" placeholder="نام گروه" />
                                    </fieldset>
                                </div>
                                <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> نام ویژگی </label>
                                        <input type="text" class="form-control" id="txtDisplayName" placeholder="نام ویژگی" />
                                    </fieldset>
                                </div>
                                <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <label for="basicInput"> مقدار ویژگی </label>
                                        <input type="text" class="form-control" id="txtValue" placeholder="مقدار ویژگی" />
                                    </fieldset>
                                </div>
                                <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <br />
                                        <a class="btn btn-success" id="btnAddFeatures">افزودن</a>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="card-body col-md-12">
                                <table id="tbl_Features" class="col-md-12 table table-bordered table-hover  table-condensed table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                گروه
                                            </th>
                                            <th>
                                                نام ویژگی
                                            </th>
                                            <th>
                                                مقدار ویژگی
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.Features.Count > 0)
                                        {
                                            foreach (var item in Model.Features)
                                            {
                                                <tr data-source="db">

                                                    <td>@item.Group</td>
                                                    <td>@item.Key</td>
                                                    <td>@item.Value</td>
                                                    <td> <a class="idFeatures btnDelete btn btn-danger"> حذف </a> </td>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card col-md-12 row">
                            <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                                <fieldset class="form-group">
                                    <label for="basicInput"> توضیحات</label>
                                    <textarea id="Description" asp-for="@Model.Description" class="form-control " rows="5">@Model.Description</textarea>
                                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                            <fieldset class="form-group">
                                <button type="submit" class="btn btn-success col-md-12"> ثبت محصول</button>
                            </fieldset>
                        </div>


                    </form>
                </div>
            </div>


        </div>
    </div>

</section>
@section Styles{

    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/apps/notes.css" rel="stylesheet" />
}
@section Scripts {

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/Theme/plugins/editors/ckeditor.js"></script>*@
    <script src="https://cdn.ckeditor.com/4.13.0/standard-all/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description', {
            language: 'fa',
            contentsLangDirection: 'rtl',
            height: 270,
        });

        $(document).ready(function () {
            $('.basic-single').select2({
                placeholder: '... انتخاب کنید'
            });
        });
        $(document).ready(function () {
            $('.removeImageProdact').on('click', function (e) {
                e.preventDefault();
                var imageParent = $(this).parent();
                var src = imageParent.find('img').attr('src')
                var itemId = @(Model.Id);
                var data = new FormData();
                data.append('src', src);
                data.append('itemId', itemId);
               // console.log('sr', src + "/ itemId :  /" + itemId);
                var ajaxRequest = $.ajax({
                    method: "POST",
                    url: "/CategoreItems/RemoveImageProdact",
                    contentType: false,
                    processData: false,
                    data: data,

                    success: function (data) {
                        console.log("result :", data);
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                'عکس با موفقیت حذف شد',
                                'success'
                            );
                            imageParent.parent().remove();
                        }
                        else {
                            swal.fire(
                                'هشدار!',
                                "دیتا حذف نشد",
                                'warning'
                            );
                            imageParent.parent().remove();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                   console.log("xhr.status", xhr.status);
                      console.log("thrownError", thrownError);
                    }
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    // Do other operation
                });
            });
        });
    </script>

    <script>

        $("#btnAddFeatures").on("click", function () {
            var txtDisplayName = $("#txtDisplayName").val();
            var txtValue = $("#txtValue").val();
            var txtGroup = $("#txtGroup").val();

            if (txtDisplayName == "" || txtValue == "" || txtGroup == "") {
                swal.fire(
                    'هشدار!',
                    "نام گروه - نام ویزگی و مقدار اجباری هستند",
                    'warning'
                );
            }
            else {
                $('#tbl_Features tbody').append('<tr data-source="view"><td>' + txtGroup + '</td>  <td>' + txtDisplayName + '</td>  <td>' + txtValue + '</td> <td> <a class="idFeatures btnDelete btn btn-danger"> حذف </a> </td> </tr>');
                $("#txtDisplayName").val('');
                $("#txtValue").val('');
            }
        });

        $("#tbl_Features").on('click', '.idFeatures', function () {



            var src = $(this).parent().parent().attr("data-source");
            if (src == 'db') {

                var sr = $(this).parent().parent()

                var data = new FormData();
                sr.each(function (key, value) {
                    var tds = $(this).find('td');

                    var idClmn = tds.eq(0).text(); //console.log(" idClmn : ", idClmn);
                    var catClmn = tds.eq(1).text();// console.log(" catClmn : ", catClmn);
                    var titClmn = tds.eq(2).text();// console.log(" titClmn : ", titClmn);
                    data.append('itemid', @(Model.Id));
                    data.append('Group', idClmn);
                    data.append('Key', catClmn);
                    data.append('Value', titClmn);


                });
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "/CategoreItems/RemoveFeature",
                    contentType: false,
                    processData: false,
                    data: data,

                    success: function (data) {
                        if (data.isSuccess == true) {
                            swal.fire(
                                'موفق!',
                                'دیتا با موفقیت حذف شد',
                                'success'
                            );
                            sr.remove();
                        }
                        else {
                            swal.fire(
                                'هشدار!',
                                "دیتا حذف نشد",
                                'warning'
                            );
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });

                ajaxRequest.done(function (xhr, textStatus) {
                    // Do other operation
                });
            }
            else {
                   $(this).closest('tr').remove();
            }


        });

        function sendDataToServer(e) {
            e.preventDefault();
            var form = $("#createForm");
            form.validate();
            if (form.valid() == false) {
                swal.fire(
                    'هشدار!',
                    "اطلاعات فرم به درستی وارد نشده است!",
                    'warning'
                );
                return false;
            }

            var data = new FormData();
            //دریافت مقادیر از تکس باکس ها و....
            data.append("Id", $("#Id").val());
            data.append("Name", $("#Name").val());
            data.append("AvailableStock", $("#AvailableStock").val());
            data.append("RestockThreshold", $("#RestockThreshold").val());
            data.append("MaxStockThreshold", $("#MaxStockThreshold").val());
            data.append("Price", $("#Price").val());
            data.append("Description", $('textarea#Description').val());

            data.append("CatologCarId", $('#Car').find('option:selected').val());
            data.append("CatalogCompanyId", $('#Company').find('option:selected').val());
            data.append("CatalogTypeId", $('#Category').find('option:selected').val());
            data.append("CatalogBrandId", $('#Brand').find('option:selected').val());

            //دریافت عکس های انتخاب شده توسط کاربر و قرار دادن عکس ها در متغیر data
            var catalogImages = document.getElementById("Images");
            if (catalogImages.files.length > 0) {
                for (var i = 0; i < catalogImages.files.length; i++) {
                    data.append('Images-' + i, catalogImages.files[i]);
                }
            }

            //دریافت ویژگی های محصول از جدول
            //[data-source="view"]
            var dataFeaturesViewModel = $('#tbl_Features tr:gt(0)').map(function () {
                var source = $(this).data("source");
               // console.log("data source:", source)
                if (source =="view") {
                    return {
                        Group: $(this.cells[0]).text(),
                        DisplayName: $(this.cells[1]).text(),
                        Value: $(this.cells[2]).text(),
                    };
                }

            }).get();

            $.each(dataFeaturesViewModel, function (i, val) {
                data.append('Features[' + i + '].Group', val.Group);
                data.append('Features[' + i + '].Key', val.DisplayName);
                data.append('Features[' + i + '].Value', val.Value);
            });
          //  console.log("dataFeaturesViewModel :", dataFeaturesViewModel)

            var ajaxRequest = $.ajax({
                type: "POST",
                url: "/CategoreItems/EditCatalogItem",
                contentType: false,
                processData: false,
                data: data,
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                success: function (data) {
                    if (data.isSuccess == true) {
                        swal.fire(
                            'موفق!',
                            'کاتالوگ با موفقیت ثبت شد',
                            'success'
                        ).then(function (isConfirm) {
                            window.location.href = "/catalogitems";
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            "دیتا ثبت نشد",
                            'warning'
                        );
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });

            ajaxRequest.done(function (xhr, textStatus) {
                // Do other operation
            });

        }




    </script>
}


