@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "محصول ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Admin.EndPoint.Helper
@using Application.Dtos
@using Application.Catalogs.CatalohItems.CatalogItemServices
@model PaginatedItemsDto<CatalogItemListItemDto>
@{
    ViewData["Title"] = " محصول";

    SearchInCategoreItemsDto productes = SessionHelper.GetObjectFromJson<SearchInCategoreItemsDto>(Context.Session, "productes") ?? new SearchInCategoreItemsDto();
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="dt-buttons mb-2">
                                <a href="/CatalogItems/create" class="dt-button btn-success btn" tabindex="0" aria-controls="html5-extension">
                                    <span>ثبت محصول جدید</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-10">
                    <form asp-action="Index" method="post">
                        <div class="input-group">
                            <select class="form-control basic-single" id="CatalogCompanyId" name="CatalogCompanyId" asp-for="@productes.CatalogCompanyId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Companes"]">
                                <option value="0"> انتخاب کمپانی</option>
                            </select>
                            <select class="form-control basic-single" id="CatologCarId" name="CatologCarId" asp-for="@productes.CatologCarId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Cars"]">
                                <option value="0">  انتخاب خودرو</option>
                            </select>
                            <select class="form-control basic-single" id="CatalogBrandId" name="CatalogBrandId" asp-for="@productes.CatalogBrandId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Brands"]">
                                <option value="0"> انتخاب برند</option>
                            </select>
                            <select class="form-control basic-single" id="CatalogTypeId" name="CatalogTypeId" asp-for="@productes.CatalogTypeId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Categories"] ">
                                <option value="0"> انتخاب دسته بندی</option>
                            </select>
                            <select name="IsActive" class="form-control basic-single">
                                <option > انتخاب وضعیت</option>
                                <option value="1">موجود</option>
                                <option value="0">ناموجود</option>

                            </select>
                            <input type="text" name="q" class="form-control float-right" placeholder="جستجو">

                            <button type="submit" class="btn btn-primary">جستجو</button>
                        </div>

                    </form>
                </div>

                <div class="col-sm-4 col-md-2">
                    <div class="form-group form-group-sm">


                        <form class="form-inline d-inline" asp-action="Index" method="get">
                            <button type="submit" name="search" value="clear" class="btn btn-default">
                                پاک کن
                            </button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <p class="card-text">لیست محصول ها</p>
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper">
                                    @{

                                        if (Model.Data != null && Model.Data.Any())
                                        {

                                            <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc">شناسه</th>
                                                        <th class="sorting_asc">نام</th>
                                                        <th class="sorting_asc">دسته بندی</th>
                                                        <th class="sorting_asc">برند </th>
                                                        <th class="sorting_asc">قیمت </th>
                                                        <th class="sorting_asc">موجودی </th>
                                                        <th class="sorting_asc"> حداقل انبار </th>
                                                        <th class="sorting_asc"> حداکثر انبار </th>
                                                        <th class="sorting_asc"> وضعیت</th>
                                                        <th class="sorting_asc"> عملیات</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model.Data)
                                                    {
                                                        <tr role="row">
                                                            <td>@item.Id</td>
                                                            <td>@item.Name</td>
                                                            <td>@item.Type</td>
                                                            <td>@item.Brand</td>
                                                            <td>@item.Price.ToString("n0")</td>
                                                            <td>@item.AvailableStock</td>
                                                            <td>@item.RestockThreshold</td>
                                                            <td>@item.MaxStockThreshold</td>
                                                            <td>
                                                              

                                                                @{
                                                                    if (item.IsActive)
                                                                    {
                                                                        <span>موجود</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span style="color:red;">نا موجود</span>
                                                                    }
                                                                }
                                                            </td>
                                                            <td>

                                                                @*<a asp-action="EditCatalogItem" asp-controller="CategoreItems" asp-route-id="@item.Id" class="btn btn-warning ml-1 mr-1">ویرایش</a>
                                                                    <a class="btn btn-danger">حذف</a>
                                                                    <a href="/CatalogItems/Detail" class="btn btn-info"> جزئیات</a>*@
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-dark btn-sm">بیشتر</button>
                                                                    <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference25" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                                                    </button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference25">
                                                                        <a class="dropdown-item" asp-action="EditCatalogItem" asp-controller="CategoreItems" asp-route-id="@item.Id">ویرایش</a>
                                                                        <a class="dropdown-item" asp-action="AddCatalogItemToStoreroom" asp-controller="CategoreItems" asp-route-id="@item.Id" data-toggle="modal" data-target="#exampleModal" onclick="return sendDataToModal(event ,@(item.Id))"> افزایش موجودی</a>
                                                                        <a class="dropdown-item" asp-action="HistorieCatalogItemToStoreroom" asp-controller="CategoreItems" asp-route-id="@item.Id">سوابق انبار</a>
                                                                        <a class="dropdown-item" asp-action="ChangeAvailableItem" asp-controller="CategoreItems" asp-route-id="@item.Id">
                                                                            @(item.IsActive? " ناموجود کردن" : " موجود کردن")
                                                                        </a>

                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>


                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="dataTables_info" id="html5-extension_info" role="status" aria-live="polite">

                                                            صفحه @Model.PageIndex
                                                            از
                                                            @Model.Pager.TotalPages
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="dataTables_paginate paging_simple_numbers" id="html5-extension_paginate">
                                                            <ul class="pagination">

                                                                <li class="paginate_button page-item">

                                                                    <a asp-action="Index" asp-controller="CategoreItems" asp-route-parentid="@(HttpContextAccessor.HttpContext.Request.Query["parentid"])"
                                                                       asp-route-pageIndex="1"
                                                                       aria-controls="html5-extension"
                                                                       data-dt-idx="2" tabindex="0"
                                                                       class="page-link"> صفحه اول</a>
                                                                </li>

                                                                <li class="paginate_button page-item active">
                                                                    <a asp-action="Index" asp-controller="CategoreItems" asp-route-parentid="@HttpContextAccessor.HttpContext.Request.Query["parentid"]"
                                                                       asp-route-pageIndex="@(Model.PageIndex - 1)"
                                                                       class="btn btn-default @prevDisabled">
                                                                        قبلی
                                                                    </a>
                                                                </li>

                                                                @foreach (var item in Model.Pager.Pages)
                                                                {
                                                                    if (item == Model.PageIndex)
                                                                    {
                                                                        <li class="paginate_button page-item  active">
                                                                            <a asp-action="Index" asp-controller="CategoreItems" asp-route-parentid="@HttpContextAccessor.HttpContext.Request.Query["parentid"]"
                                                                               asp-route-pageIndex="@item"
                                                                               aria-controls="html5-extension"
                                                                               data-dt-idx="2" tabindex="0"
                                                                               class="page-link"> @item</a>
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li class="paginate_button page-item ">
                                                                            <a asp-action="Index" asp-controller="CategoreItems" asp-route-parentid="@HttpContextAccessor.HttpContext.Request.Query["parentid"]"
                                                                               asp-route-pageIndex="@item"
                                                                               aria-controls="html5-extension"
                                                                               data-dt-idx="2" tabindex="0"
                                                                               class="page-link"> @item</a>
                                                                        </li>
                                                                    }

                                                                }

                                                                <li class="paginate_button page-item ">

                                                                    <a asp-action="Index" asp-controller="CategoreItems" asp-route-parentid="@HttpContextAccessor.HttpContext.Request.Query["parentid"]"
                                                                       asp-route-pageIndex="@(Model.PageIndex + 1)"
                                                                       class="btn btn-default @nextDisabled">
                                                                        بعدی
                                                                    </a>
                                                                </li>

                                                                <li class="paginate_button page-item">
                                                                    <a asp-action="Index" asp-controller="CategoreItems" asp-route-parentid="@HttpContextAccessor.HttpContext.Request.Query["parentid"]"
                                                                       asp-route-pageIndex="@Model.Pager.TotalPages"
                                                                       aria-controls="html5-extension"
                                                                       data-dt-idx="2" tabindex="0"
                                                                       class="page-link"> صفحه آخر</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <h2>
                                                هیچ محصولی با مشخصات جستجو شده وجود ندارد!!!
                                            </h2>
                                        }
                                    }

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="id01">افزایش موجودی : {{name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="AddCatalogItemToStoreroom" method="post" id="form_AddCatalogItemToStoreroom">

                    <label for="basicInput"> تعداد </label>
                    <input type="number" name="count" class="form-control" id="catalogItemCount">


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-primary" onclick="return sendDataToServer(event ,5)">ثبت</button>
            </div>
        </div>
    </div>
</div>
@section Styles{

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />

}
@section Scripts {
    <script src="~/lib/W3/w3.js"></script>
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script>

        $(document).ready(function () {
            $('.basic-single').select2({
                placeholder: '... انتخاب کنید'
            });
        });
        function sendDataToServer(e, a) {

            e.preventDefault();
            $.post('/CategoreItems/AddCatalogItemToStoreroom', { id: $('#hidden_id').val(), count: $('#catalogItemCount').val() }, function (response) {
                swal.fire(
                    response,
                    "",
                    'success'
                );
                $('#exampleModal').modal('toggle');
                window.location.href = "/CategoreItems/Index";
            });
        }


        function myFunction(myObject) {
            w3.displayObject("id01", myObject);

        }
        function sendDataToModal(e, a) {
            w3.getHttpObject("/CategoreItems/GetProduct/" + a, myFunction);

            e.preventDefault();
            /*         $('#exampleModal h5 .modal-title').html(b);*/
            $("input#hidden_id").remove();
            $("input#catalogItemCount").val("");
            $('#form_AddCatalogItemToStoreroom').append('<input type="hidden" id="hidden_id" name="id" value=' + a + '>');

        }
    </script>

}