@using Application.BasketsService;
@model BasketDto;
@{
    Layout = null;
}






<div class="mini_cart_wrapper">
    <a href="javascript:void(0)">
        <i class="icon-shopping-bag2"></i>

        @if (Model != null)
        {

            <span class="cart_price" style="margin-right: 0px !important;">
                @Model.TotalWithoutPostDelivery().ToString("n0") تومان <i class="ion-ios-arrow-down"></i>
            </span>
            <span class="cart_count">@Model.Items.Count()</span>
        }
        else
        {
            <span class="cart_price">
                0 تومان <i class="ion-ios-arrow-down"></i>
            </span>
            <span class="cart_count">0</span>
        }

    </a>
    <!--mini cart-->
    <div class="mini_cart">
        <div class="mini_cart_inner">
            <div class="cart_close">
                <div class="cart_text">
                    <h3>سبد خرید</h3>
                </div>
                <div class="mini_cart_close">
                    <a href="javascript:void(0)"><i class="icon-x"></i></a>
                </div>
            </div>
            @if (Model != null && Model.Items.Count()>0)
            {
                foreach (var item in Model.Items)
                {
                    <div class="cart_item">
                        <div class="cart_img">
                            <a href="#">
                                <img src="@item.ImageUrl"
                                     alt="">
                            </a>
                        </div>
                        <div class="cart_info">
                            <a href="#"> @item.CatalogName</a>

                            <p> تعداد: @item.Quantity عدد <span> @item.UnitPrice.ToString("n0") تومان</span></p>
                        </div>
                        <div class="cart_remove">

                            <form asp-action="RemoveItemFromBasket" asp-controller="Basket" method="post">
                                <input type="hidden" name="ItemId" value="@item.Id" />
                                <button class="remove-item">
                                    <i class="ion-android-close"></i>
                                </button>

                            </form>
                        </div>
                    </div>
                }

                <div class="mini_cart_table">
                    @*<div class="cart_total">
                    <span>مجموع فرعی:</span>
                    <span class="price">138.00 تومان</span>
                </div>*@
                    <div class="cart_total mt-10">
                        <span>جمع کل:</span>
                        <span class="price">@Model.TotalWithoutPostDelivery().ToString("n0") تومان</span>
                    </div>
                </div>
            }



        </div>
        <div class="mini_cart_footer">
            <div class="cart_button">
                <a asp-area="" asp-controller="basket" asp-action="index" class="active">مشاهده سبد خرید</a>
            </div>
        

        </div>
    </div>
    <!--mini cart end-->
</div>



@*<div class="user-item cart-list">
    <a href="#">
        <i class="fal fa-shopping-basket"></i>

        @if (Model != null)
        {
            <span class="bag-items-number">@Model.Items.Count</span>
        }
        else
        {
            <span class="bag-items-number">0</span>
        }

    </a>
    <ul>
        <li class="cart-items">
            <ul class="do-nice-scroll">
                @if (Model != null)
                    foreach (var item in Model.Items)
                    {
                        <li class="cart-item">
                                <span class="d-flex align-items-center mb-2">
                                    <a href="#">
                                        <img src="@item.ImageUrl" alt="">
                                    </a>
                                    <span>
                                        <a href="#">
                                            <span class="title-item">
                                                @item.CatalogName
                                            </span>
                                        </a>
                                        <span class="color d-flex align-items-center">
                                            تعداد:
                                            <span>@item.Quantity</span>
                                        </span>
                                    </span>
                                </span>
                                <span class="price"> @item.UnitPrice.ToString("n0") تومان</span>
                                <form asp-action="RemoveItemFromBasket" asp-controller="Basket" method="post">
                                    <input type="hidden" name="ItemId" value="@item.Id" />
                                    <button class="remove-item">
                                        <i class="far fa-trash-alt"></i>
                                    </button>

                                </form>
                            </li>





                    }
            </ul>
        </li>
        <li class="cart-footer">
            <span class="d-block text-center mb-3">
                @if (Model != null)
                {
                    <p>
                        مبلغ کل:
                        <span class="total">@Model.Total().ToString("n0")</span>
                    </p>
                }

            </span>
            <span class="d-block text-center px-2">
                <a href="~/basket" class="btn-cart">
                    مشاهده سبد خرید
                    <i class="mi mi-ShoppingCart"></i>
                </a>
            </span>
        </li>
    </ul>
</div>*@