@using Application.Catalogs.CatalogItems.GetCatalogItemPDP;
@model CatalogItemPDPDto;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, DNTCaptcha.Core

@{
    ViewData["Title"] = Model.Name;
    ViewData["Description"] = Model.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = Model.Slug;
    var ccc = Model.SimilarCatalogs.Count;
    string[] simelerUrl = new string[ccc];
    string site = "https://CarYadakShop.com";
    for (int i = 0; i < ccc; i++)
    {
        simelerUrl[i] = $@"{site}/Product/Details/pid-{Model.SimilarCatalogs.ElementAt(i).Id}/{Model.SimilarCatalogs.ElementAt(i).Slug}";
    }

    Html.SetSeoInfo(seoInfo =>
    {
        seoInfo.SetCommonInfo(
            pageTitle: Model.Slug,
            description: Model.Slug + " خرید اینترنتی آنلاین اصلی با ضمانت بازگشت وجه و ارسال سریع به سراسر ایران",
            url: $"{site}/Product/Details/pid-{Model.Images}/{Model.Slug}",
            keywordTags: new[] { Model.TypeName, Model.BrrndName, Model.CompanyName, Model.Name, Model.Name }, //optional
            seeAlsoUrls: simelerUrl  //optional
        );

        seoInfo.SetImageInfo(
            url: Model.Images.FirstOrDefault(),
             width: 500,  //optional
              height: 500,  //optional
            alt: Model.Slug,//,  //optional
                            mimeType: "image/jpeg" //optional (detects from url file extension if not set.)
                                                   // cardType: SeoTags.TwitterCardType.SummaryLargeImage   //optional
        );

        seoInfo.SetArticleInfo(
                    authorName: "CarYadakShop.com",
                    publishDate: DateTimeOffset.Now,
                    modifiedDate: DateTimeOffset.Now,  //optional
                    authorUrl: "https://CarYadakShop.com/",  //optional
                    section: "Article Topic"  //optional
                );

//Add another rss feed. (only for this page) (optional)
seoInfo.AddFeed("Post Comments", "https://site.com/post/comment/rss", SeoTags.FeedType.Rss);
    });
}




<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/home/index">خانه</a></li>
                        <li>جزئیات محصول</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<div id="alertPanel">

    @if (TempData["errorcomment"] != null)
    {
        var errors = TempData["errorcomment"] as IEnumerable<string>;
        @if (errors != null)
        {

            <div class=" alert alert-danger">
                <span class="h4">برای ثبت نظر خود باید فیلد های ذکر شده زیر را تکمیل کنید.</span><br />
                <ul>
                    @foreach (var item in errors)
                    {
                        <li class="h5">@item</li>

                    }
                </ul>
            </div>


        }


    }
    @if (TempData["Successcomment"] != null)
    {
        <div class=" alert alert-success">
            <span class="h4"> @TempData["Successcomment"].ToString() </span>
        </div>
    }
</div>
<div class="product_page_bg">
    <div class="container">
        <!--product details start-->
        <div class="product_details">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="product-details-tab">

                        @if (Model.Images.Count > 1)
                        {
                            <div id="img-1" class="zoomWrapper single-zoom">

                                <a href="#">
                                    <img id="zoom1" src="@Model.Images.FirstOrDefault()" data-zoom-image="@Model.Images.FirstOrDefault()" alt="big-1">
                                </a>

                            </div>
                            <div class="single-zoom-thumb">
                                <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">

                                    @for (int d = 0; d < Model.Images.Count; d++)
                                    {

                                        <li>
                                            <a href="#" class="elevatezoom-gallery active" data-update="" data-image="@Model.Images.ElementAt(d)" data-zoom-image="@Model.Images.ElementAt(d)">
                                                <img src="@Model.Images.ElementAt(d)" alt="zo-th-1" />
                                            </a>

                                        </li>


                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <img src="@Model.Images.FirstOrDefault()" alt="@Model.Name">
                        }

                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="product_d_right">
                        <div>

                            <h3><a href="#">@Model.Name</a></h3>
                            <div class="product_nav">
                                <ul>
                                    <li class="prev"><a href="product-details.html"><i class="fa fa-angle-right"></i></a></li>
                                    <li class="next"><a href="variable-product.html"><i class="fa fa-angle-left"></i></a></li>
                                </ul>
                            </div>
                            <div class="product_rating">
                                <ul>
                                    @{
                                        int reateCounter = 0;
                                        for (int j = 0; j < 5; j++)
                                        {
                                            if (Model.Rate > reateCounter)
                                            {
                                                <li>
                                                    <a href="#">
                                                        <i class="ion-android-star"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="#">
                                                        <i class="ion-android-star-outline"></i>
                                                    </a>
                                                </li>
                                            }
                                            reateCounter++;
                                        }
                                    }
                                    <li class="review"><a href="#">(1 نظر مشتری )</a></li>
                                </ul>
                            </div>
                            <div class="price_box">
                                @if (Model.IsActive)
                                {
                                    if (Model.OldPrice != null)
                                    {
                                        <span class="old_price">@Model.OldPrice?.ToString("n0") تومان</span>
                                    }
                                    <span class="current_price">@Model.Price.ToString("n0") تومان</span>
                                }
                                else
                                {
                                    <span class="current_price">0 تومان   <span class="text-danger">کالا ناموجود</span></span>
                                }

                            </div>
                            <div class="product_desc">
                                <p>@Html.Raw(Model.Description)  </p>
                            </div>
                            @if (Model.IsActive)
                            {
                                <form asp-action="Index" asp-controller="Basket" method="post" class="product_variant quantity">
                                    <label>تعداد</label>
                                    <input type="hidden" value="@Model.Id" name="CatalogitemId" />
                                    <input min="1" max="100" value="1" type="number" name="quantity">
                                    <button class="button" type="submit">افزودن به سبد خرید</button>

                                </form>
                            }


                            <div class=" product_d_action">
                                <ul>
                                    <li><a href="#" title="افزودن به لیست علاقمندی ها">+ افزودن به لیست علاقمندی ها</a></li>
                                </ul>
                            </div>
                            <div class="product_meta">
                                <span>دسته بندی: <a href="#">@Model.TypeName</a></span>
                            </div>

                        </div>
                        <div class="priduct_social">
                            <ul>
                                <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i> لایک</a></li>
                                <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> توییت</a></li>
                                <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i> ذخیره</a></li>
                                <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i> اشتراک گذاری</a></li>
                                <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i> لینک</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--product details end-->
        <!--product info start-->
        <div class="product_d_info">
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">
                        <div class="product_info_button">
                            <ul class="nav" role="tablist" id="nav-tab">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">توضیحات</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">مشخصات</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false"> نظرات </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel">
                                <div class="product_info_content">
                                    @Html.Raw(Model.Description)
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sheet" role="tabpanel">
                                <div class="product_d_table">
                                    <form action="#">
                                        @if (Model.Features != null && Model.Features.Any())
                                        {
                                            <table>
                                                <tbody>
                                                    @foreach (var item in Model.Features.FirstOrDefault())
                                                    {

                                                        <tr>
                                                            <td class="first_child">@item.Key</td>
                                                            <td>@item.Value</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        }
                                        else
                                        {
                                            <span class="h3"> ویژگی خاصی ثبت نگردیده است!!!</span>
                                        }

                                    </form>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                <div class="reviews_wrapper">

                                    @*<div class="reviews_comment_box">
                                            <div class="comment_thmb">
                                                <img src="~/NewThem/assets/img/blog/comment2.jpg" alt="">
                                            </div>
                                            <div class="comment_text">
                                                <div class="reviews_meta">
                                                    <div class="product_rating">
                                                        <ul>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <p><strong>مدیر سایت </strong>- مهر 12, 1398</p>
                                                    <span>بسیار بسیار عالی</span>
                                                </div>
                                            </div>

                                        </div>*@
                                    @(await Component.InvokeAsync("GetComment", new { postId = Model.Id }))
                                    <div class="comment_title">
                                        <h2>افزودن نظر</h2>
                                        <p> آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی علامت گذاری شده اند </p>
                                    </div>
                                    <div class="product_rating mb-10">
                                        <h3>امتیاز شما</h3>
                                        <ul>
                                            <li><i class="fa fa-star" aria-hidden="true" style="font-size:34px" id="st1"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true" style="font-size:34px" id="st2"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true" style="font-size:34px" id="st3"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true" style="font-size:34px" id="st4"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true" style="font-size:34px" id="st5"></i></li>
                                        </ul>
                                    </div>
                                    <div class="product_review_form">
                                        <form id="FormPostComment" role="form" asp-action="AddComment" method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="ParentId" value="" />
                                            <input type="hidden" name="PostId" value="@Model.Id" />

                                            
                                                <div class="col-12 col-lg-6 col-md-6">
                                                    <label for="Message">نظر شما </label>
                                                    <textarea name="Message" id="Message"></textarea>
                                                </div>
                                     

                                                    <div class="col-lg-6 col-md-6">
                                                        <label for="author">نام</label>
                                                        <input name="Name" id="Name" placeholder="نام" type="text">

                                                    </div>
                                                






                                           
                                            <div class="col-lg-6 col-md-6 mt-2">
                                                <div class="form-group">
                                                    <label>عبارت را محاسبه و وارد نمائید</label>
                                                    <dnt-captcha asp-captcha-generator-max="999"
                                                                 class="input-group"
                                                                 asp-captcha-generator-min="110"
                                                                 asp-captcha-generator-language="Persian"
                                                                 asp-captcha-generator-display-mode="NumberToWord"
                                                                 asp-use-relative-urls="true"
                                                                 asp-validation-error-message="عبارت را محاسبه و وارد نمائید"
                                                                 asp-font-name="Tahoma"
                                                                 asp-font-size="16"
                                                                 asp-fore-color="#333333"
                                                                 asp-back-color="#F7F9B8"
                                                                 asp-text-box-class="form-control"
                                                                 asp-text-box-template="<div class='ml-auto'>{0}</div>"
                                                                 asp-validation-message-class="text-danger"
                                                                 asp-refresh-button-class="fas fa-redo btn-sm d-none"
                                                                 asp-use-noise="false"
                                                                 asp-dir="rtl" />
                                                </div>
                                            </div>

                                            @*<button type="submit">ارسال</button>*@
                                            <div class="clearfix">
                                                <button class="comments-btn btn btn-primary" type="submit">ارسال دیدگاه</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product info end-->
        <!--product area start-->
        <section class="product_area related_products">
            <div class="row">
                <div class="col-12">
                    <div class="section_title title_style2">
                        <div class="title_content">
                            <h2>محصولات <span>مرتبط</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product_carousel product_details_column5 owl-carousel">
                    @{
                        var counterbestSellers = Model.SimilarCatalogs.Count;

                        @for (int i = 0; i < counterbestSellers; i++)

                        {
                            <div class="col-lg-3">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">

                                                <a class="primary_img"
                                                   href="~/Product/Details/pid-@Model.SimilarCatalogs.ElementAt(i).Id/@Model.SimilarCatalogs.ElementAt(i).Slug">
                                                    <img src="@Model.SimilarCatalogs.ElementAt(i).Image" alt="">
                                                </a>

                                                @if (Model.SimilarCatalogs.ElementAt(i).DiscountPercentage > 0)
                                                {
                                                    <div class="label_product">
                                                        <span class="label_sale">@(Model.SimilarCatalogs.ElementAt(i).DiscountPercentage)%</span>
                                                    </div>
                                                }

                                                <div class="quick_button">
                                                    <a href="~/Product/Details/pid-@Model.SimilarCatalogs.ElementAt(i).Id/@Model.SimilarCatalogs.ElementAt(i).Slug"
                                                       title="نمایش جزئیات" data-bs-toggle="modal" data-bs-target="#modal_box">
                                                        <i class="icon-eye"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <div class="product_content_inner">
                                                    <p class="manufacture_product"><a href="#">قطعات</a></p>
                                                    <h4 class="product_name">
                                                        <a href="product-details.html">
                                                            عنوان:
                                                            @Model.SimilarCatalogs.ElementAt(i).Name
                                                        </a>
                                                    </h4>
                                                    <div class="product_rating">
                                                        <ul>
                                                            @{
                                                                int DescountNumbereateCounter = 0;
                                                                for (int j = 0; j < 5; j++)
                                                                {
                                                                    if (Model.SimilarCatalogs.ElementAt(i).Rate > DescountNumbereateCounter)
                                                                    {
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="ion-android-star"></i>
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>
                                                                            <a href="#">
                                                                                <i class="ion-android-star-outline"></i>
                                                                            </a>
                                                                        </li>
                                                                    }
                                                                    DescountNumbereateCounter++;
                                                                }
                                                            }




                                                        </ul>
                                                    </div>
                                                    <div class="price_box">
                                                        @if (Model.SimilarCatalogs.ElementAt(i).AvailableStock > 0)
                                                        {
                                                            @if (Model.SimilarCatalogs.ElementAt(i).OldPrice != null)
                                                            {
                                                                <span class="old_price">@Model.SimilarCatalogs.ElementAt(i).OldPrice?.ToString("n0") تومان</span>
                                                            }

                                                            <span class="current_price">@Model.SimilarCatalogs.ElementAt(i).Price.ToString("n0") تومان</span>

                                                        }
                                                        else
                                                        {
                                                            <span class="text-danger font-weight-bold">ناموجود </span>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="add_to_cart">
                                                            <a href="~/Product/Details/pid-@Model.SimilarCatalogs.ElementAt(i).Id/@Model.SimilarCatalogs.ElementAt(i).Slug"
                                                               title="نمایش جزئیات"> نمایش جزئیات</a>
                                                        </li>
                                                        <li class="wishlist">
                                                            <a asp-area="Customers" asp-controller="MyFavourite" asp-action="AddToMyFavourite" asp-route-CatalogItemId="@Model.SimilarCatalogs.ElementAt(i).Id"
                                                               title="افزودن به لیست علاقمندی ها">
                                                                <i class="icon-heart"></i>
                                                            </a>
                                                        </li>
                                                        <li class="compare">
                                                            <a href="compare.html" title="مقایسه">
                                                                <i class="icon-rotate-cw"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>

                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </section>
        <!--product area end-->

    </div>
</div>


@section Scripts
{
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/swiper.min.css">
    <script src="~/Theme/assets/js/plugins/swiper.min.js"></script>
    @{ Html.RenderPartial("_AjaxJquery"); }
    <script>
        const myTimeout = setTimeout(myGreeting, 5000);

        function myGreeting() {
            $("#alertPanel").fadeOut(3000);
        }

        function setParentId(parentid) {
            $("#FormPostComment input[name*='ParentId']").val(parentid);
            $("#message").focus();
        }

    </script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $(this).next().fadeToggle(1000);
                $(this).find('>:first-child').toggleClass('fa-plus-circle fa-minus-circle')
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#st1").click(function () {
                $(".fa-star").css("color", "black");
                $("#st1").css("color", "yellow");

            });
            $("#st2").click(function () {
                $(".fa-star").css("color", "black");
                $("#st1, #st2").css("color", "yellow");

            });
            $("#st3").click(function () {
                $(".fa-star").css("color", "black")
                $("#st1, #st2, #st3").css("color", "yellow");

            });
            $("#st4").click(function () {
                $(".fa-star").css("color", "black");
                $("#st1, #st2, #st3, #st4").css("color", "yellow");

            });
            $("#st5").click(function () {
                $(".fa-star").css("color", "black");
                $("#st1, #st2, #st3, #st4, #st5").css("color", "yellow");

            });
        });
    </script>
}