@using Application.Catalogs.CatalogItems.GetCatalogItemPDP;
@model CatalogItemPDPDto;

@{
    ViewData["Title"] = Model.Name;
    ViewData["Description"] = Model.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //ViewData["Title"] = "Page Title";

    Html.SetSeoInfo(seoInfo =>
    {
        seoInfo.SetCommonInfo(
            pageTitle: "SEO Tags for ASP.NET Core",
            description: "Create all SEO tags you need such as meta, link, twitter card (twitter:), open graph (og:), and ...",
            url: "https://site.com/url/",
            keywordTags: new[] { "SEO", "AspNetCore", "MVC", "RazorPages" }, //optional
            seeAlsoUrls: new[] { "https://site.com/see-also-1", "https://site.com/see-also-2" }  //optional
        );

//seoInfo.SetImageInfo(
//    url: "https://site.com/uploads/image.jpg",
//    //  width: 1280,  //optional
//    //  height: 720,  //optional
//    alt: "Image alt"//,  //optional
//                    //mimeType: "image/jpeg", //optional (detects from url file extension if not set.)
//                    // cardType: SeoTags.TwitterCardType.SummaryLargeImage   //optional
//);

seoInfo.SetArticleInfo(
            authorName: "Author Name",
            publishDate: DateTimeOffset.Now,
            modifiedDate: DateTimeOffset.Now,  //optional
            authorUrl: "https://github.com/author-profile",  //optional
            section: "Article Topic"  //optional
        );

//Add another rss feed. (only for this page) (optional)
seoInfo.AddFeed("Post Comments", "https://site.com/post/comment/rss", SeoTags.FeedType.Rss);
    });
}




<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">خانه</a></li>
                        <li>جزئیات محصول</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<div class="product_page_bg">
    <div class="container">
        <!--product details start-->
        <div class="product_details">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="product-details-tab">

                        @if (Model.Images.Count > 1)
                        {
                            <div id="img-1" class="zoomWrapper single-zoom">

                                <a href="#">
                                    <img id="zoom1" src="@Model.Images.FirstOrDefault()" data-zoom-image="@Model.Images.FirstOrDefault()" alt="big-1">
                                </a>

                            </div>
                            <div class="single-zoom-thumb">
                                <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">

                                    @for (int d = 0; d < Model.Images.Count; d++)
                                    {

                                        <li>
                                            <a href="#" class="elevatezoom-gallery active" data-update="" data-image="@Model.Images.ElementAt(d)" data-zoom-image="@Model.Images.ElementAt(d)">
                                                <img src="@Model.Images.ElementAt(d)" alt="zo-th-1" />
                                            </a>

                                        </li>


                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <img  src="@Model.Images.FirstOrDefault()"  alt="@Model.Name">
                        }

                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="product_d_right">
                        <div>

                            <h3><a href="#">@Model.Name</a></h3>
                            <div class="product_nav">
                                <ul>
                                    <li class="prev"><a href="product-details.html"><i class="fa fa-angle-right"></i></a></li>
                                    <li class="next"><a href="variable-product.html"><i class="fa fa-angle-left"></i></a></li>
                                </ul>
                            </div>
                            <div class="product_rating">
                                <ul>
                                    @{
                                        int reateCounter = 0;
                                        for (int j = 0; j < 5; j++)
                                        {
                                            if (Model.Rate > reateCounter)
                                            {
                                                <li>
                                                    <a href="#">
                                                        <i class="ion-android-star"></i>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="#">
                                                        <i class="ion-android-star-outline"></i>
                                                    </a>
                                                </li>
                                            }
                                            reateCounter++;
                                        }
                                    }
                                    <li class="review"><a href="#">(1 نظر مشتری )</a></li>
                                </ul>
                            </div>
                            <div class="price_box">
                                @if (Model.OldPrice != null)
                                {
                                    <span class="old_price">@Model.OldPrice?.ToString("n0") تومان</span>
                                }
                                <span class="current_price">@Model.Price.ToString("n0") تومان</span>
                            </div>
                            <div class="product_desc">
                                <p>@Html.Raw(Model.Description)  </p>
                            </div>

                            <form asp-action="Index" asp-controller="Basket" method="post" class="product_variant quantity">
                                <label>تعداد</label>
                                <input type="hidden" value="@Model.Id" name="CatalogitemId" />
                                <input min="1" max="100" value="1" type="number" name="quantity">
                                <button class="button" type="submit">افزودن به سبد خرید</button>

                            </form>

                            <div class=" product_d_action">
                                <ul>
                                    <li><a href="#" title="افزودن به لیست علاقمندی ها">+ افزودن به لیست علاقمندی ها</a></li>
                                </ul>
                            </div>
                            <div class="product_meta">
                                <span>دسته بندی: <a href="#">@Model.TypeName</a></span>
                            </div>

                        </div>
                        <div class="priduct_social">
                            <ul>
                                <li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i> لایک</a></li>
                                <li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i> توییت</a></li>
                                <li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i> ذخیره</a></li>
                                <li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i> اشتراک گذاری</a></li>
                                <li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i> لینک</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--product details end-->
        <!--product info start-->
        <div class="product_d_info">
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">
                        <div class="product_info_button">
                            <ul class="nav" role="tablist" id="nav-tab">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">توضیحات</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">مشخصات</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false"> نظرات (1)</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel">
                                <div class="product_info_content">
                                    @Html.Raw(Model.Description)
                                </div>
                            </div>
                            <div class="tab-pane fade" id="sheet" role="tabpanel">
                                <div class="product_d_table">
                                    <form action="#">
                                        @if (Model.Features != null && Model.Features.Any())
                                        {
                                            <table>
                                                <tbody>
                                                    @foreach (var item in Model.Features.FirstOrDefault())
                                                    {
                                                     
                                                        <tr>
                                                            <td class="first_child">@item.Key</td>
                                                            <td>@item.Value</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        }
                                        else
                                        {
                                          <span class="h3"> ویژگی خاصی ثبت نگردیده است!!!</span>
                                        }

                                    </form>
                                </div>
                             
                            </div>

                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                <div class="reviews_wrapper">
                        
                                    <div class="reviews_comment_box">
                                        <div class="comment_thmb">
                                            <img src="~/NewThem/assets/img/blog/comment2.jpg" alt="">
                                        </div>
                                        <div class="comment_text">
                                            <div class="reviews_meta">
                                                <div class="product_rating">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    </ul>
                                                </div>
                                                <p><strong>مدیر سایت </strong>- مهر 12, 1398</p>
                                                <span>بسیار بسیار عالی</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="comment_title">
                                        <h2>افزودن نظر</h2>
                                        <p> آدرس ایمیل شما منتشر نخواهد شد. فیلدهای الزامی علامت گذاری شده اند </p>
                                    </div>
                                    <div class="product_rating mb-10">
                                        <h3>امتیاز شما</h3>
                                        <ul>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_review_form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="review_comment">نظر شما </label>
                                                    <textarea name="comment" id="review_comment"></textarea>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label for="author">نام</label>
                                                    <input id="author" type="text">

                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <label for="email">ایمیل</label>
                                                    <input id="email" type="text">
                                                </div>
                                            </div>
                                            <button type="submit">ارسال</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product info end-->
        <!--product area start-->
        <section class="product_area related_products">
            <div class="row">
                <div class="col-12">
                    <div class="section_title title_style2">
                        <div class="title_content">
                            <h2>محصولات <span>مرتبط</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product_carousel product_details_column5 owl-carousel">
                    @{
                        var counterbestSellers = Model.SimilarCatalogs.Count;

                        @for (int i = 0; i < counterbestSellers; i++)
                           
                            {
                                <div class="col-lg-3">
                                    <div class="product_items">
                                        <article class="single_product">
                                            <figure>
                                                <div class="product_thumb">

                                                    <a class="primary_img"
                                                       href="~/Product/Details/pid-@Model.SimilarCatalogs.ElementAt(i).Id/@Model.SimilarCatalogs.ElementAt(i).Slug">
                                                        <img src="@Model.SimilarCatalogs.ElementAt(i).Image" alt="">
                                                    </a>

                                                    @if (Model.SimilarCatalogs.ElementAt(i).DiscountPercentage > 0)
                                                    {
                                                        <div class="label_product">
                                                            <span class="label_sale">@(Model.SimilarCatalogs.ElementAt(i).DiscountPercentage)%</span>
                                                        </div>
                                                    }

                                                    <div class="quick_button">
                                                        <a href="~/Product/Details/pid-@Model.SimilarCatalogs.ElementAt(i).Id/@Model.SimilarCatalogs.ElementAt(i).Slug"
                                                           title="نمایش جزئیات" data-bs-toggle="modal" data-bs-target="#modal_box">
                                                            <i class="icon-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product_content">
                                                    <div class="product_content_inner">
                                                        <p class="manufacture_product"><a href="#">قطعات</a></p>
                                                        <h4 class="product_name">
                                                            <a href="product-details.html">
                                                                عنوان:
                                                                @Model.SimilarCatalogs.ElementAt(i).Name
                                                            </a>
                                                        </h4>
                                                        <div class="product_rating">
                                                            <ul>
                                                                @{
                                                                    int DescountNumbereateCounter = 0;
                                                                    for (int j = 0; j < 5; j++)
                                                                    {
                                                                        if (Model.SimilarCatalogs.ElementAt(i).Rate > DescountNumbereateCounter)
                                                                        {
                                                                            <li>
                                                                                <a href="#">
                                                                                    <i class="ion-android-star"></i>
                                                                                </a>
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li>
                                                                                <a href="#">
                                                                                    <i class="ion-android-star-outline"></i>
                                                                                </a>
                                                                            </li>
                                                                        }
                                                                        DescountNumbereateCounter++;
                                                                    }
                                                                }




                                                            </ul>
                                                        </div>
                                                        <div class="price_box">
                                                            @if (Model.SimilarCatalogs.ElementAt(i).AvailableStock > 0)
                                                            {
                                                                @if (Model.SimilarCatalogs.ElementAt(i).OldPrice != null)
                                                                {
                                                                    <span class="old_price">@Model.SimilarCatalogs.ElementAt(i).OldPrice?.ToString("n0") تومان</span>
                                                                }

                                                                <span class="current_price">@Model.SimilarCatalogs.ElementAt(i).Price.ToString("n0") تومان</span>

                                                            }
                                                            else
                                                            {
                                                                <span class="text-danger font-weight-bold">ناموجود </span>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="action_links">
                                                        <ul>
                                                            <li class="add_to_cart">
                                                                <a href="~/Product/Details/pid-@Model.SimilarCatalogs.ElementAt(i).Id/@Model.SimilarCatalogs.ElementAt(i).Slug"
                                                                   title="نمایش جزئیات"> نمایش جزئیات</a>
                                                            </li>
                                                            <li class="wishlist">
                                                                <a asp-area="Customers" asp-controller="MyFavourite" asp-action="AddToMyFavourite" asp-route-CatalogItemId="@Model.SimilarCatalogs.ElementAt(i).Id"
                                                                   title="افزودن به لیست علاقمندی ها">
                                                                    <i class="icon-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li class="compare">
                                                                <a href="compare.html" title="مقایسه">
                                                                    <i class="icon-rotate-cw"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </figure>
                                        </article>

                                    </div>
                                </div>
                            }
                    }

                </div>
            </div>
        </section>
        <!--product area end-->

    </div>
</div>


@section Scripts
{
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/swiper.min.css">
    <script src="~/Theme/assets/js/plugins/swiper.min.js"></script>
}