@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Application.Catalogs.CatalogItems.GetCatalogIItemPLP;
@using Application.Dtos;
@model PaginatedItemsDto<CatalogPLPDto>
@{

    ViewData["Title"] = "لیست محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var QueryStringLink = "";
    var QueryStringLink2 = Context.Request.Query.Where(p => p.Key == "brandId" || p.Key == "CatalogTypeId" || p.Key == "CatalogCarId" || p.Key == "AvailableStock" || p.Key == "IndexSortType" || p.Key == "SearchKey").ToList();

    string[] linkText = new string[QueryStringLink2.Count];
    int counter = 0;
    @foreach (var queryString in QueryStringLink2)
    {

        linkText[counter] = ($"{queryString.Key}={queryString.Value}");
        counter++;
    }
    QueryStringLink = string.Join("&", linkText);
    var test = "";

}


<!--shop  area start-->
<div class="shop_area shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    @(await Component.InvokeAsync("ProductListRightSlid"))

                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop banner area start-->
                <div class="shop_banner_area mb-30">
                    <div class="row">
                        <div class="col-12">
                            <div class="shop_banner_thumb">
                                <img src="~/NewThem/assets/img/bg/banner23.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--shop banner area end-->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_4" type="button" class="active btn-grid-4" data-bs-toggle="tooltip"
                                title="4"></button>
                        <button data-role="grid_3" type="button" class=" btn-grid-3" data-bs-toggle="tooltip"
                                title="3"></button>
                        <button data-role="grid_list" type="button" class="btn-list" data-bs-toggle="tooltip"
                                title="لیست"></button>
                    </div>
                    <div class="">

                        <form id="form_select_option_sorttype" action="/product/index" method="get">
                            <select name="SortType" id="sorttype_select_option">
                                <option selected value="0">  مرتب سازی بر اساس...</option>
                                <option value="1">  پربازدیدترین</option>
                                <option value="2">   پرفروش‌ ترین</option>
                                <option value="3">   محبوب‌ترین</option>
                                <option value="4">  ‌جدیدترین</option>
                                <option value="5">  ارزان‌ترین</option>
                                <option value="6">  گران‌ترین</option>
                                <option value="7">  بیشترین تخفیف</option>
                            </select>
                            @foreach (var queryString in Context.Request.Query.Where(p => p.Key == "brandId" || p.Key == "CatalogTypeId" || p.Key == "CatalogCarId" || p.Key == "AvailableStock" || p.Key == "SearchKey").ToList())
                            {
                                foreach (var item in queryString.Value)
                                {
                                    <input type="hidden" name="@queryString.Key" value="@item" />
                                }
                            }


                        </form>

                    </div>

                </div>
                <!--shop toolbar end-->
                <div class="row shop_wrapper">
                    @if (Model != null && Model.Data.Count() > 0)
                    {
                        foreach (var item in Model.Data)
                        {
                            <div class="col-lg-3 col-md-4 col-12 ">
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" href="~/Product/Details/pid-@item.Id/@item.Slug">
                                                <img src="@item.Images.FirstOrDefault()" alt="">
                                            </a>
                                            @if (@item.DiscountPercentage > 0)
                                            {
                                                <div class="label_product">
                                                    <span class="label_sale">- @item.DiscountPercentage%</span>
                                                </div>
                                            }

                                            <div class="quick_button">
                                                <a href="~/Product/Details/pid-@item.Id/@item.Slug"
                                                   title="@item.Name"><i class="icon-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="product_content grid_content">
                                            <div class="product_content_inner">
                                                <p class="manufacture_product"><a href="#"><span class="text-danger">خودرو</span> :@item.CarName | <span class="text-danger">برند</span>: @item.BrrndName</a></p>
                                                <h4 class="product_name">
                                                    <a href="~/Product/Details/pid-@item.Id/@item.Slug">
                                                        @item.Name
                                                    </a>
                                                </h4>
                                            
                                                <div class="price_box">
                                                    @if (item.OldPrice != null && item.OldPrice != item.Price)
                                                    {
                                                        <span class="old_price">@item.OldPrice?.ToString("n0") تومان</span>
                                                    }
                                                    <span class="current_price">@item.Price.ToString("n0") تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product_content list_content">
                                            <div class="left_caption">
                                                <p class="manufacture_product"><a href="#"><span class="text-danger">خودرو</span> :@item.CarName | <span class="text-danger">برند</span>: @item.BrrndName</a></p>
                                                <h3 class="product_name">
                                                    <a href="~/Product/Details/pid-@item.Id/@item.Slug">
                                                        @item.Name
                                                    </a>
                                                </h3>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    @if (item.OldPrice != null)
                                                    {
                                                        <span class="old_price">@item.OldPrice?.ToString("n0") تومان</span>
                                                    }
                                                    <span class="current_price">@item.Price.ToString("n0") تومان</span>
                                                </div>
                                                <div class="product_desc">
                                                    <p>
                                                     @Html.Raw(item.Description)   
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="right_caption">
                                                <p class="text_available">وضعیت موجودی : <span>در انبار</span></p>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="add_to_cart">
                                                            <a href="~/Product/Details/pid-@item.Id/@item.Slug"
                                                               title="نمایش جزئیات"> نمایش جزئیات</a>
                                                        </li>
                                                        <li class="wishlist">
                                                            <a asp-area="Customers" asp-controller="MyFavourite" asp-action="AddToMyFavourite" asp-route-CatalogItemId="@item.Id"
                                                               title="افزودن به لیست علاقمندی ها">
                                                                <i class="icon-heart"></i> افزودن به لیست علاقمندی ها
                                                            </a>
                                                        </li>
                                                        <li class="compare">
                                                            <a href="#" title="مقایسه">
                                                                <i class="icon-rotate-cw"></i>افزودن به لیست مقایسه
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </figure>
                                </article>
                            </div>
                        }
                    }
                

                </div>


                <!--shop pagimnation start-->
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <div class="shop_toolbar t_bottom">
                    <div class="pagination">
                        <ul>


                            <li class="@prevDisabled">
                                <a href="/product?pageIndex=@(Model.PageIndex-1)&@QueryStringLink">
                                    قبلی
                                </a>
                            </li>
                            @foreach (var item in Model.Pager.Pages)
                            {
                                var current = "";
                                if (Model.PageIndex == item) { current = "current"; }
                                else { current = ""; }

                                <li class="@(current)">
                                    <a href="/product?pageIndex=@(item)&@QueryStringLink"> @item</a>
                                </li>

                            }
                            <li class="next @nextDisabled">

                                <a href="/product?pageIndex=@(Model.PageIndex+ 1)&@QueryStringLink"
                                   class="">
                                    بعدی
                                </a>
                            </li>



                        </ul>
                    </div>
                </div>
                <!--shop pagimnation end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>

@section Styles{
    <!-- font-awesome -->
    <link rel="stylesheet" href="~/Theme/assets/css/font-awesome.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/jquery.classycountdown.min.css">
    <link rel="stylesheet" href="~/Theme/assets/css/plugins/nouislider.min.css">

    <!-- CSS Template -->
    <link rel="stylesheet" href="~/Theme/assets/css/theme.css">



    <link rel="stylesheet" href="~/Theme/assets/css/custom.css">


}
@section Scripts{
    <!-- JS Implementing Plugins -->

    <script src="~/NewThem/assets/js/plugins.js"></script>
    <script src="~/Theme/assets/js/plugins/swiper.min.js"></script>
    <script src="~/Theme/assets/js/plugins/jquery.nicescroll.min.js"></script>

    <script src="~/Theme/assets/js/plugins/nouislider.min.js"></script>

    <script src="~/Theme/assets/js/plugins/wNumb.js"></script>

    <script src="~/Theme/assets/js/theme.js"></script>

    @*<script>
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 5000000,
                    values: [0, 100000],
                    slide: function (event, ui) {
                        $("#amount").val("تومان" + ui.values[0] + " تا " + ui.values[1]);
                        $('input[name="priceMax"]').val(ui.values[1]);
                        $('input[name="priceMin"]').val(ui.values[0]);
                    }

                });
                $("#amount").val("تومان" + $("#slider-range").slider("values", 0) +
                    " - $" + $("#slider-range").slider("values", 1));

            });
        </script>*@


    <script>


        var comment_post_ID = jQuery("#sorttype_select_option").val();
        jQuery("#sorttype_select_option").on('change', function (e) {
            comment_post_ID = jQuery("#sorttype_select_option").val();

            $(this).closest('form').submit();
        });

    </script>

}
