@using Application.Catalogs.CatalogItems.Dto;
@model GetHomePageTwoDiscountCatalogItemsViewModel;
<!--top  Discount product area start-->
@{
    if (Model != null && Model.Vijeh.catalogItems.Count > 0 && Model.HomePage.catalogItems.Count > 0)
    {
        <div class="product_area product_area_four color_three">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <div class="deals_product_style4">
                            <div class="section_title title_style2">
                                <div class="title_content">
                                    <h2><span>تخفیف های</span> داغ و ویژه</h2>
                                </div>
                            </div>
                            <div class="product_carousel deals_product_column1 owl-carousel">

                                @foreach (var item in Model.Vijeh.catalogItems)
                                {
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img" href="~/Product/Details/pid-@item.Id/@item.Slug">
                                                    <img src="@item.Src" alt="">
                                                </a>
                                                <div class="label_product">
                                                    <span class="label_sale">-@Model.Vijeh.DiscountPercentage.%</span>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <p class="manufacture_product"><a href="#">قطعات خودرو</a></p>
                                                <h4 class="product_name">
                                                    <a href="~/Product/Details/pid-@item.Id/@item.Slug">
                                                        @item.Name
                                                    </a>
                                                </h4>
                                                <div class="product_rating">
                                                    <ul>
                                                        @{
                                                            int reateCounter = 0;
                                                            for (int j = 0; j < 5; j++)
                                                            {
                                                                if (item.Rate > reateCounter)
                                                                {
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="ion-android-star"></i>
                                                                        </a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="ion-android-star-outline"></i>
                                                                        </a>
                                                                    </li>
                                                                }
                                                                reateCounter++;
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    @if (item.OldPrice != null && item.OldPrice != item.Price)
                                                    {
                                                        <span class="old_price">@item.OldPrice?.ToString("n0") تومان</span>
                                                    }
                                                    <span class="current_price">@item.Price.ToString("n0") تومان</span>
                                                </div>
                                                <div class="product_desc" style=" max-height: 77px!important; overflow:hidden !important">
                                                    @Html.Raw(item.Description)
                                                </div>
                                                <div class="countdown_text">
                                                    <p><span>عجله کنید !</span>مهلت اتمام تخفیف :</p>
                                                </div>
                                                <div class="product_timing">
                                                    <div data-countdown="@Model.Vijeh.EndDate?.ToString("yyyy/MM/dd")"></div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                }



                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="small_product_sidebar">
                            <div class="section_title title_style2">
                                <h2>تخفیف های <span>جدید</span></h2>
                            </div>
                            <div class="product_slick small_product_active">
                                @foreach (var item in Model.HomePage.catalogItems)
                                {
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img" href="~/Product/Details/pid-@item.Id/@item.Slug">
                                                    <img src="@item.Src" alt="">
                                                </a>
                                             
                                            </div>
                                            <div class="product_content">
                                                <h4 class="product_name">
                                                    <a href="~/Product/Details/pid-@item.Id/@item.Slug">
                                                       @item.Name
                                                    </a>
                                                </h4>
                                                <div class="product_rating">
                                                    <ul>
                                                        @{
                                                            int reateCounter2 = 0;
                                                            for (int j = 0; j < 5; j++)
                                                            {
                                                                if (item.Rate > reateCounter2)
                                                                {
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="ion-android-star"></i>
                                                                        </a>
                                                                    </li>
                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="ion-android-star-outline"></i>
                                                                        </a>
                                                                    </li>
                                                                }
                                                                reateCounter2++;
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    @if (item.OldPrice != null && item.OldPrice != item.Price)
                                                    {
                                                        <span class="old_price">@item.OldPrice?.ToString("n0") تومان</span>
                                                    }
                                                    <span class="current_price">@item.Price.ToString("n0") تومان</span>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                }








                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<!--top  Discount product area end-->