@using Application.ProductListPageService
@model ProductListPageServiceDto
@{
    Layout = null;
    var BRANSID = Context.Request.Query["brandId"];
    var CATALOGTYPE = Context.Request.Query["CatalogTypeId"];
    var CATALOGCAR = Context.Request.Query["CatalogCarId"];

}

<form asp-action="Index" method="get">

    <div class="widget shadow-around">
        <div class="widget-content">
            <div @*class="custom-control custom-switch"*@>

                @{
                    var AvailableStock = Context.Request.Query["AvailableStock"];
                    if (AvailableStock == "true")
                    {
                        @*<input type="checkbox"
                            name="AvailableStock"
                            onclick="submit();"
                            value="false"
                            checked
                            class="custom-control-input" id="customSwitch1">*@
                        <label class="container-checkbox">
                            فقط کالاهای موجود در
                            انبار
                            <input type="checkbox" checked name="AvailableStock" value="true" onclick="submit();">
                            <span class="checkmark"></span>
                        </label>
                    }
                    else
                    {
                        @*<input type="checkbox" name="AvailableStock"
                            value="true" class="custom-control-input"
                            id="customSwitch1" onclick="submit();">*@

                        <label class="container-checkbox">
                            فقط کالاهای موجود در
                            انبار
                            <input type="checkbox" name="AvailableStock" value="true" onclick="submit();">
                            <span class="checkmark"></span>
                        </label>
                    }
                }




                @*@foreach (var queryString in Context.Request.Query.Where(p => p.Key == "brandId" || p.Key == "CatalogTypeId").ToList())
                    {
                        foreach (var item in queryString.Value)
                        {
                            <input type="hidden" name="@queryString.Key" value="@item" />
                        }
                    }*@



            </div>
        </div>
    </div>

    <div class="widget widget-filter-options shadow-around">
        <div class="widget-title">خودرو</div>
        <div class="search-in-options form-element-row">
            <div class="form-element-with-icon">
                <input type="text" class="input-element" placeholder="جستجوی نام خودرو...">
                <i class="fad fa-file-search"></i>
            </div>
        </div>
        <div class="widget-content">

            @foreach (var item in Model.CarDtos)
            {
                @if (CATALOGCAR.ToList().Any(p => p == item.Id.ToString()))
                {
                    <label class="container-checkbox">
                        @item.Name
                        <input type="checkbox" checked name="CatalogCarId" value="@item.Id" onclick="submit();">
                        <span class="checkmark"></span>
                    </label>
                }
                else
                {
                    <label class="container-checkbox">
                        @item.Name
                        <input type="checkbox" name="CatalogCarId" value="@item.Id" onclick="submit();">
                        <span class="checkmark"></span>
                    </label>
                }

            }

            @*@foreach (var queryString in Context.Request.Query.Where(p => p.Key != "brandId").ToList())
                {
                    <input type="hidden" name="@queryString.Key" value="@queryString.Value" />
                }*@



        </div>
    </div>

    <div class="widget widget-filter-options shadow-around">
        <div class="widget-title">برند</div>
        <div class="search-in-options form-element-row">
            <div class="form-element-with-icon">
                <input type="text" class="input-element" placeholder="جستجوی نام برند...">
                <i class="fad fa-file-search"></i>
            </div>
        </div>
        <div class="widget-content">

            @foreach (var item in Model.BrandDtos)
            {
                @if (BRANSID.ToList().Any(p => p == item.Id.ToString()))
                {
                    <label class="container-checkbox">
                        @item.Brand
                        <input type="checkbox" checked name="brandId" value="@item.Id" onclick="submit();">
                        <span class="checkmark"></span>
                    </label>
                }
                else
                {
                    <label class="container-checkbox">
                        @item.Brand
                        <input type="checkbox" name="brandId" value="@item.Id" onclick="submit();">
                        <span class="checkmark"></span>
                    </label>
                }

            }

            @*@foreach (var queryString in Context.Request.Query.Where(p => p.Key != "brandId").ToList())
                {
                    <input type="hidden" name="@queryString.Key" value="@queryString.Value" />
                }*@



        </div>
    </div>


    <div class="widget widget-filter-options shadow-around">
        <div class="widget-title">دسته بندی محصول</div>
        <div class="search-in-options form-element-row">
            <div class="form-element-with-icon">
                <input type="text" class="input-element" placeholder="جستجوی نام دسته بندی...">
                <i class="fad fa-file-search"></i>
            </div>
        </div>
        <div class="widget-content">

            @foreach (var item in Model.catalogTypeDtos.Where(p => p.ParentId == null).ToList())
            {


                var counttt = Model.catalogTypeDtos.Where(p => p.ParentId == item.Id).Count();
                <label class="container-checkbox">

                    @item.Type
                    @if (counttt > 0)
                    {
                        <span>(@counttt)</span>
                    }
                    @if (CATALOGTYPE.Any(p => p == item.Id.ToString()))
                    {
                        <input type="checkbox" checked name="CatalogTypeId" value="@item.Id" onclick="submit();">

                    }
                    else
                    {
                        <input type="checkbox" name="CatalogTypeId" value="@item.Id" onclick="submit();">
                    }

                    <span class="checkmark"></span>
                </label>


            }


            @*@foreach (var queryString2 in Context.Request.Query.Where(p => p.Key != "CatalogTypeId").ToList())
                {
                    <input type="hidden" name="@queryString2.Key" value="@queryString2.Value" />
                }*@
        </div>
    </div>




    @if (Context.Request.Query.Where(p => p.Key == "IndexSortType").Any())
    {
        var IndexSortType = Context.Request.Query.Where(p => p.Key == "IndexSortType").FirstOrDefault();
        <input type="hidden" name="@IndexSortType.Key" value="@IndexSortType.Value" />
    }

</form>

<div class="widget shadow-around">
    <div class="widget-title">محدوده قیمت</div>
    <div class="widget-content">
        <form action="/product/index" method="get" class="filter-price">
            <div class="mt-2 mb-2">
                <div class="filter-slider">
                    <div id="slider-non-linear-step" class="price-slider"></div>
                    @*<input type="text" class="price-slider" id="amount" readonly  style="border:0; color:#f6931f; font-weight:bold;">*@
                </div>
                <ul class="filter-range">
                    <li data-label="از" data-currency=" تومان">
                        <input type="text" data-value="0" value="0" name="priceMin"
                               data-range="0" class="js-slider-range-from  example-val"
                               id="skip-value-lower" disabled="disabled">
                    </li>
                    <li data-label="تا" data-currency="تومان">
                        <input type="text" data-value="17700000" value="17700000"
                               name="priceMax" data-range="17700000"
                               class="js-slider-range-to  example-val"
                               id="skip-value-upper" disabled="disabled">
                    </li>
                </ul>
            </div>
            @*<div class="filter-range">
            <input type="text"  name="priceMin"
                   data-range="0" class="js-slider-range-from  example-val"
                   id="priceMin" >
            <input type="text"
                   name="priceMax" id="priceMax" class="js-slider-range-to  example-val" />
            <input type="text" class="filter-range" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </div>

        <div id="slider-range"></div>*@
            <div class="mt-3 mb-3">
                <button type="submit" class="btn btn-primary d-inline-flex align-items-center">
                    <i class="fad fa-funnel-dollar ml-2"></i>
                    اعمال محدوده قیمت
                </button>
            </div>
        </form>
    </div>
</div>


