@using Application.Orders.CustomerOrdersServices;
@using WebSite.EndPoint.Utilities
@model List<MyOrderDto>;
@{
    ViewData["Title"] = "سفارشات من";
    Layout = "~/Views/Shared/_LayoutCustomerPanel.cshtml";



    var WaitingForPayment = Model.Where(p => p.PaymentStatus == Domain.Order.PaymentStatus.WaitingForPayment && p.Date > DateTime.Now.AddDays(-7)).ToList();
    var Paid = Model.Where(p => p.PaymentStatus == Domain.Order.PaymentStatus.Paid).ToList();
    var Processing = Model.Where(p => p.PaymentStatus == Domain.Order.PaymentStatus.Paid && (p.OrderStatus == Domain.Order.OrderStatus.Processing || p.OrderStatus == Domain.Order.OrderStatus.RequestReturned || p.OrderStatus == Domain.Order.OrderStatus.RequestCancelled)).ToList();
    var Delivered = Model.Where(p => p.OrderStatus == Domain.Order.OrderStatus.Delivered).ToList();
    var Returned = Model.Where(p => p.OrderStatus == Domain.Order.OrderStatus.Returned).ToList();
    var Cancelled = Model.Where(p => p.OrderStatus == Domain.Order.OrderStatus.Cancelled).ToList();

}


<style>
    .empty-box .message p {
        color: #766969 !important;
    }

    .empty-box .icon i {
        color: #766969 !important;
    }

    .table-responsive table thead {
        background: #766969 !important;
    }
</style>



<section class="shadow-around p-3">
    <div class="d-none d-sm-block">
        <ul class="nav nav-tabs" id="orders-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="wait-for-payment-tab" data-toggle="tab" href="#wait-for-payment" role="tab" aria-controls="wait-for-payment" aria-selected="true">
                    در انتظار پرداخت
                    <span class="badge badge-secondary">@WaitingForPayment.Count()</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pain-in-progress-tab" data-toggle="tab" href="#pain-in-progress" role="tab" aria-controls="pain-in-progress" aria-selected="false">
                    در حال پردازش
                    <span class="badge badge-secondary">@Processing.Count()</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="delivered-tab" data-toggle="tab" href="#delivered" role="tab" aria-controls="delivered" aria-selected="false">
                    تحویل داده شده
                    <span class="badge badge-secondary">@Delivered.Count()</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="returned-tab" data-toggle="tab" href="#returned" role="tab" aria-controls="returned" aria-selected="false">
                    مرجوعی
                    <span class="badge badge-secondary">@Returned.Count()</span>
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="canceled-tab" data-toggle="tab" href="#canceled" role="tab" aria-controls="canceled" aria-selected="false">
                    لغو شده
                    <span class="badge badge-secondary">@Cancelled.Count()</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="d-sm-none tab-responsive-order-list">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                لیست سفارشات بر اساس
            </button>
            <div class="dropdown-menu shadow-around w-100" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" data-toggle="tab" href="#wait-for-payment" role="tab" aria-controls="wait-for-payment" aria-selected="true">
                    در
                    انتظار پرداخت
                </a>
                <a class="dropdown-item" data-toggle="tab" href="#pain-in-progress" role="tab" aria-controls="pain-in-progress" aria-selected="false">
                    در
                    حال پردازش
                </a>
                <a class="dropdown-item" data-toggle="tab" href="#delivered" role="tab" aria-controls="delivered" aria-selected="false">تحویل داده شده</a>
                <a class="dropdown-item" data-toggle="tab" href="#returned" role="tab" aria-controls="returned" aria-selected="false">مرجوعی</a>
                <a class="dropdown-item" data-toggle="tab" href="#canceled" role="tab" aria-controls="canceled" aria-selected="false">لغو شده</a>
            </div>
        </div>
    </div>
    <div class="tab-content" id="orders-tab">
        <div class="tab-pane fade active show" id="wait-for-payment" role="tabpanel" aria-labelledby="wait-for-payment-tab">
            <section class="table--order shadow-around mt-4">
                <div class="table-responsive">
                    @{
                        if (WaitingForPayment.Count() > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>شماره سفارش</th>
                                        <th>تاریخ ثبت سفارش</th>
                                        <th>مبلغ کل</th>
                                        <th> وضعیت</th>
                                        <th>عملیات پرداخت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in WaitingForPayment)
                                    {
                                        var rand = new Random().Next(1111, 9999);
                                        <tr>
                                            <td class="order-code">YCSH-@rand-@item.Id</td>
                                            <td> @item.Date.ToPersianDateStrFarsi()</td>
                                            <td>@item.Price.ToString("n0") تومان</td>
                                            <td>در انتظار پرداخت</td>
                                            <td class="">
                                                <a class="mr-2" asp-area="" asp-controller="Pay" asp-action="Index" asp-route-PaymentId="@item.PaymentId">
                                                    <i class="fad fa-redo" style="font-size:23px;color:lawngreen"></i>
                                                </a>
                                                <a class="mr-2" href="/pay/CancelPay/@item.PaymentId">
                                                    <i class="fa fa-close" style="font-size:29px;color:red"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="empty-box">
                                <div class="icon">
                                    <i class="fal fa-times-circle"></i>
                                </div>
                                <div class="message">
                                    <p>سفارشی برای نمایش وجود نداره!</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="pain-in-progress" role="tabpanel" aria-labelledby="pain-in-progress-tab">
            <section class="table--order shadow-around mt-4">
                <div class="table-responsive">
                    @{


                        if (Processing.Count() > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>شماره سفارش</th>
                                        <th>تاریخ ثبت سفارش</th>
                                        <th>مبلغ کل</th>
                                        <th> وضعیت</th>
                                        <th>عملیات </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Processing)
                                    {
                                        var rand = new Random().Next(1111, 9999);
                                        <tr>
                                            <td class="order-code">YCSH-@rand-@item.Id</td>
                                            <td> @item.Date.ToPersianDateStrFarsi()</td>
                                            <td>@item.Price.ToString("n0") تومان</td>
                                            <td>
                                                @{
                                                    var message = "";
                                                    switch (item.OrderStatus)
                                                    {
                                                        case Domain.Order.OrderStatus.Processing:
                                                            message = " در حال پردازش";
                                                            break;
                                                        case Domain.Order.OrderStatus.RequestReturned:
                                                            message = "در حال بررسی درخواست مرجوعی";
                                                            break;
                                                        case Domain.Order.OrderStatus.RequestCancelled:
                                                            message = "در حال بررسی درخواست لغو";
                                                            break;

                                                    }
                                                    <span>@message</span>
                                                }
                                            </td>
                                            <td class="">
                                                @{

                                                    switch (item.OrderStatus)
                                                    {
                                                        case Domain.Order.OrderStatus.Processing:
                                                          
                                                            <a href="/Customers/orders/ChangeOrederStat/@item.Id/5" class="btn btn-outline-danger">لغو کردن<i class="fa fa-trash"></i></a>
                                                            break;
                                                        case Domain.Order.OrderStatus.RequestReturned:
                                                            <i class="fa fa-undo font-weight-bold" style="font-size:24px;color:darkgoldenrod"></i>
                                                            break;
                                                        case Domain.Order.OrderStatus.RequestCancelled:
                                                            <i class="fa fa-trash" style="font-size:24px;color:red"></i>
                                                            break;

                                                    }

                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="empty-box">
                                <div class="icon">
                                    <i class="fal fa-times-circle"></i>
                                </div>
                                <div class="message">
                                    <p>سفارشی برای نمایش وجود نداره!</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
            <section class="table--order shadow-around mt-4">
                <div class="table-responsive">
                    @{
                        if (Delivered.Count() > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>شماره سفارش</th>
                                        <th>تاریخ ثبت سفارش</th>
                                        <th>مبلغ کل</th>
                                        <th> وضعیت</th>
                                        <th>عملیات </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Delivered)
                                    {
                                        var rand = new Random().Next(1111, 9999);
                                        <tr>
                                            <td class="order-code">YCSH-@rand-@item.Id</td>
                                            <td> @item.Date.ToPersianDateStrFarsi()</td>
                                            <td>@item.Price.ToString("n0") تومان</td>
                                            <td>تحویل داده شد</td>
                                            <td>
                                                <a href="/Customers/orders/ChangeOrederStat/@item.Id/4" class="btn btn-outline-primary">مرجوع کردن<i class="fa fa-redo"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="empty-box">
                                <div class="icon">
                                    <i class="fal fa-times-circle"></i>
                                </div>
                                <div class="message">
                                    <p>سفارشی برای نمایش وجود نداره!</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="returned" role="tabpanel" aria-labelledby="returned-tab">
            <section class="table--order shadow-around mt-4">
                <div class="table-responsive">
                    @{
                        if (Returned.Count() > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>شماره سفارش</th>
                                        <th>تاریخ ثبت سفارش</th>
                                        <th>مبلغ کل</th>
                                        <th> وضعیت</th>
                                        <th>عملیات </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Returned)
                                    {
                                        var rand = new Random().Next(1111, 9999);
                                        <tr>
                                            <td class="order-code">YCSH-@rand-@item.Id</td>
                                            <td> @item.Date.ToPersianDateStrFarsi()</td>
                                            <td>@item.Price.ToString("n0") تومان</td>
                                            <td>مرجوعی</td>
                                            <td class="order-detail-link">
                                                <i class='fas fa-redo' style='font-size:36px'></i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="empty-box">
                                <div class="icon">
                                    <i class="fal fa-times-circle"></i>
                                </div>
                                <div class="message">
                                    <p>سفارشی برای نمایش وجود نداره!</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="canceled" role="tabpanel" aria-labelledby="canceled-tab">
            <section class="table--order shadow-around mt-4">
                <div class="table-responsive">
                    @{
                        if (Cancelled.Count() > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>شماره سفارش</th>
                                        <th>تاریخ ثبت سفارش</th>
                                        <th>مبلغ کل</th>
                                        <th> وضعیت</th>
                                        <th>عملیات </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Cancelled)
                                    {
                                        var rand = new Random().Next(1111, 9999);
                                        <tr>
                                            <td class="order-code">YCSH-@rand-@item.Id</td>
                                            <td> @item.Date.ToPersianDateStrFarsi()</td>
                                            <td>@item.Price.ToString("n0") تومان</td>
                                            <td>لغو شده</td>
                                            <td class="order-detail-link">
                                                <i class="fa fa-close" style="font-size:48px;color:red"></i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="empty-box">
                                <div class="icon">
                                    <i class="fal fa-times-circle"></i>
                                </div>
                                <div class="message">
                                    <p>سفارشی برای نمایش وجود نداره!</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </section>
        </div>
    </div>
</section>